In [1]:
import pandas as pd
import ast
import json

In [6]:
#esta funcion sirve para devolverme cuantos valores nulos y que porcentaje del total corresponde a nulos de un dataframe
#se importa ahora por que la voy a usar durante todo el proyecto

def missing_values_table(df):
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

# IMPORTANDO DATAFRAMES

In [ ]:
lineas = []   #Creamos una lista vacia 

with open('data/australian_user_reviews.json', encoding='utf-8') as f:  #iteramos sobre cada uno de las lineas del DF y rellenamos la lista vacia con cada iteracion
    for line in f.readlines():
        lineas.append(ast.literal_eval(line))
        
user_reviews = pd.DataFrame(lineas)  #creamos el DF con los datos de la lista

In [3]:
#se utilza la misma logica que en el caso anterior.
#NOTA: exportar a un csv para lectura mas sencilla y menos costosa en terminos de recursos
lineas = []

with open('data/australian_users_items.json', encoding='utf-8') as f:
    for line in f.readlines():
        lineas.append(ast.literal_eval(line))
        
user_items = pd.DataFrame(lineas)

In [3]:
#creamos el DF con pandas.
steam_games = pd.read_json('data\output_steam_games.json', lines = True)

In [107]:
steam_games.head()

,Unnamed: 0,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [7]:
user_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

##### EXPORTANDO DF EN CSV

Como sabia que iba a ser un porceso muy iterativo, lleno de mucha prueba y error, decidí exportar los tres dataframes a csv ya que considero muchisimo mas sencilla la carga de datos en este formato

In [9]:
user_reviews.to_csv('user_reviews.csv')

In [10]:
user_items.to_csv('user_items.csv')

In [23]:
steam_games.to_csv('steam_games.csv')

# TRATANDO LOS DATOS

In [2]:
#cargando CSV's
df_reviews = pd.read_csv(r'data\user_reviews.csv')
df_items = pd.read_csv(r'data\user_items.csv')
df_games = pd.read_csv(r'data\steam_games.csv')

C:\Users\gasto\AppData\Local\Temp\ipykernel_9980\2094648097.py:4: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_games = pd.read_csv(r'data\steam_games.csv')

### user_reviews

In [94]:
df_reviews.head()

,Unnamed: 0,user_id,user_url,reviews
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

La columna reviews esta llena de valores anidados. Tendriamos que desanidar esa columna.

Tambien vemos que los campos de esta columna estan en formato srt, lo cual dificulta muchisimo su tratamiento

In [95]:
type(df_reviews['reviews'][0])

str

In [96]:
#aplicamos ast.literal_eval a toda la columna. Esta libreria basicamente me dio la vida. 
#OJO, puede llegar a usar mucha memoria y comer muchos recursos
df_reviews['parsed_data'] = df_reviews['reviews'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

# Utilizar explode en la columna 'parsed_data' para desanidar los diccionarios
df_exploded = df_reviews.explode('parsed_data', ignore_index=True)

Logramos que la columna este llena de diccionarios y no de listas de diccionarios

In [97]:
type(df_exploded['parsed_data'][0])

dict

In [98]:
df_exploded.head()

,Unnamed: 0,user_id,user_url,reviews,parsed_data
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...","{'funny': '', 'posted': 'Posted November 5, 20..."
1,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...","{'funny': '', 'posted': 'Posted July 15, 2011...."
2,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...","{'funny': '', 'posted': 'Posted April 21, 2011..."
3,1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...","{'funny': '', 'posted': 'Posted June 24, 2014...."
4,1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...","{'funny': '', 'posted': 'Posted September 8, 2..."

In [99]:
#normalizamos, concatenamos las ccolumnas nuevas y finalmente desacemos las columnas viejas. NOTA: "Unnamed: 0" aparece cada 2 x 3, es un  mal  habito que tengo.
reviews_normalized = pd.json_normalize(df_exploded['parsed_data'])
df_reviews_final = pd.concat([df_exploded,reviews_normalized], axis=1)
df_reviews_final.drop(columns=['Unnamed: 0', 'reviews', 'parsed_data'], inplace=True)

In [100]:
#testeando
df_reviews_final.head()

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [101]:
df_reviews_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        59305 non-null  object
 3   posted       59305 non-null  object
 4   last_edited  59305 non-null  object
 5   item_id      59305 non-null  object
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59305 non-null  object
dtypes: object(9)
memory usage: 4.1+ MB

In [102]:
df_reviews_final.to_csv("df_reviews.csv")

### user_items

In [98]:
df_items.head()

,Unnamed: 0,user_id,items_count,steam_id,user_url,items
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

La columna items esta llena de valores anidados. Tendriamos que desanidar esa columna.  Tambien tenemos el mismo problema, los campos estan llenos de strings los cuales no nos permiten trabajar

In [99]:
#reutilizamos el codigo que escribimos arriba para parsear la columna

df_items['parsed_data'] = df_items['items'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

# Utilizar explode en la columna 'parsed_data' para desanidar los diccionarios
df_items = df_items.explode('parsed_data', ignore_index=True)

In [100]:
df_items.head()

,Unnamed: 0,user_id,items_count,steam_id,user_url,items,parsed_data
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","{'item_id': '10', 'item_name': 'Counter-Strike..."
1,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","{'item_id': '20', 'item_name': 'Team Fortress ..."
2,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik...","{'item_id': '50', 'item_name': 'Half-Life: Opp..."

In [101]:
#el proceso es basicamente el mismo problema y el mismo proceso
items_normalized = pd.json_normalize(df_items['parsed_data'])
df_items_final = pd.concat([df_items,items_normalized], axis=1)
df_items_final.drop(columns=['Unnamed: 0', 'items', 'parsed_data'], inplace=True)

In [102]:

df_items_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          int64
 3   user_url          object
 4   item_id           object
 5   item_name         object
 6   playtime_forever  float64
 7   playtime_2weeks   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 315.6+ MB

In [105]:
#exportamos para utilizar mas adelante
df_items_final.to_csv('df_items.csv')

### steam_games

In [3]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    120445 non-null  int64
 1   publisher     24064 non-null   object
 2   genres        28852 non-null   object
 3   app_name      32133 non-null   object
 4   title         30085 non-null   object
 5   url           32135 non-null   object
 6   release_date  30068 non-null   object
 7   tags          31972 non-null   object
 8   reviews_url   32133 non-null   object
 9   specs         31465 non-null   object
 10  price         30758 non-null   object
 11  early_access  32135 non-null   float64
 12  id            32133 non-null   float64
 13  developer     28836 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 12.9+ MB

In [4]:
df_games.head()

,Unnamed: 0,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#esta funcion esta definida en la celda 2. Sirve para contar cuantos valores nulos hay en cada columna y que porcentaje ocupa
#en este caso vemos que son un monton
missing_values_table(df_games)

Your selected dataframe has 14 columns.
There are 13 columns that have missing values.

              Missing Values  % of Total Values
publisher              96381               80.0
developer              91609               76.1
genres                 91593               76.0
release_date           90377               75.0
title                  90360               75.0
price                  89687               74.5
specs                  88980               73.9
tags                   88473               73.5
app_name               88312               73.3
reviews_url            88312               73.3
id                     88312               73.3
url                    88310               73.3
early_access           88310               73.3

In [8]:
#conteo de : "Unnamed: 0" = 2
df_games.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
#eliminamos las primeras 88.000 columnas que estaban llenas de NaN
df_games.dropna(how='all', inplace=True)

In [10]:
#mejoró bastante
missing_values_table(df_games)

Your selected dataframe has 13 columns.
There are 11 columns that have missing values.

              Missing Values  % of Total Values
publisher               8071               25.1
developer               3299               10.3
genres                  3283               10.2
release_date            2067                6.4
title                   2050                6.4
price                   1377                4.3
specs                    670                2.1
tags                     163                0.5
app_name                   2                0.0
reviews_url                2                0.0
id                         2                0.0

In [11]:
#ahora lo primero que veo es que tenemos dos columnas que son muy similares y refieren a lo mismo, al nombre del juego, por lo tanto elijo borrar app_name
#pero antes utilizandola para intentar rellenar algunos valores faltantes de la columna tittle
df_games.sample(10)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
107814,DarkDes Labs,"['Action', 'Adventure', 'Indie', 'RPG']",Vzerthos: The Heir of Thunder,Vzerthos: The Heir of Thunder,http://store.steampowered.com/app/536450/Vzert...,2017-01-19,"['Action', 'Adventure', 'Indie', 'Violent', 'R...",http://steamcommunity.com/app/536450/reviews/?...,"['Single-player', 'Steam Achievements', 'Full ...",6.99,0.0,536450.0,DarkDes Labs
88601,Sakari Indie,"['Action', 'Indie']",Foreign Legion: Buckets of Blood,Foreign Legion: Buckets of Blood,http://store.steampowered.com/app/36000/Foreig...,2009-08-04,"['Action', 'Indie', 'Third Person', 'Shooter']",http://steamcommunity.com/app/36000/reviews/?b...,"['Single-player', 'Steam Achievements', 'Parti...",4.99,0.0,36000.0,Sakari Indie
108023,NaN,"['Casual', 'Simulation']",Rocksmith® 2014 Edition – Remastered – U2 - “S...,Rocksmith® 2014 Edition – Remastered – U2 - “S...,http://store.steampowered.com/app/509690/Rocks...,2017-01-03,"['Casual', 'Simulation']",http://steamcommunity.com/app/509690/reviews/?...,"['Single-player', 'Shared/Split Screen', 'Down...",2.99,0.0,509690.0,Ubisoft - San Francisco
92049,Mudvark,"['Adventure', 'Indie']",Rituals,Rituals,http://store.steampowered.com/app/359190/Rituals/,2015-05-27,"['Adventure', 'Indie', 'Point & Click', 'Puzzle']",http://steamcommunity.com/app/359190/reviews/?...,"['Single-player', 'Steam Achievements']",4.99,0.0,359190.0,Tymon Zgainski
103143,NaN,"['Indie', 'Simulation']",A Mortician's Tale Original Soundtrack,A Mortician's Tale Original Soundtrack,http://store.steampowered.com/app/736320/A_Mor...,2017-10-18,"['Indie', 'Simulation']",http://steamcommunity.com/app/736320/reviews/?...,"['Single-player', 'Downloadable Content', 'Ste...",4.99,0.0,736320.0,Laundry Bear Games
93687,Workyrie Game Studio,['RPG'],Wanderjahr,Wanderjahr,http://store.steampowered.com/app/434860/Wande...,2016-02-18,"['RPG', 'Anime']",http://steamcommunity.com/app/434860/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",9.99,0.0,434860.0,Workyrie Game Studio
94017,Ankama Games,['Action'],ABRACA - Imagic Games,ABRACA - Imagic Games,http://store.steampowered.com/app/345990/ABRAC...,2016-03-31,"['Action', '4 Player Local', 'Local Multiplaye...",http://steamcommunity.com/app/345990/reviews/?...,"['Shared/Split Screen', 'Steam Achievements', ...",14.99,0.0,345990.0,Ankama Studio
114062,Lightning Man Media,"['Adventure', 'Indie']",Nyctophobia,Nyctophobia,http://store.steampowered.com/app/378100/Nycto...,2015-08-25,"['Indie', 'Adventure', 'Horror']",http://steamcommunity.com/app/378100/reviews/?...,"['Single-player', 'Steam Achievements', 'Steam...",1.99,0.0,378100.0,Lightning Man Media
108452,HexWar Games,['Strategy'],Tank Battle: Blitzkrieg,Tank Battle: Blitzkrieg,http://store.steampowered.com/app/540150/Tank_...,2016-12-07,['Strategy'],http://steamcommunity.com/app/540150/reviews/?...,['Single-player'],9.99,0.0,540150.0,HexWar Games
95980,Farsky Interactive,"['Action', 'Adventure', 'Indie', 'RPG']",Sky Break,Sky Break,http://store.steampowered.com/app/405370/Sky_B...,2016-10-21,"['RPG', 'Indie', 'Adventure', 'Open World', 'S...",http://steamcommunity.com/app/405370/reviews/?...,"['Single-player', 'Partial Controller Support']",9.99,0.0,405370.0,Farsky Interactive

In [12]:
#rellenamos los valores faltantes de la columna "titulo" con los valores de la columna "app_name".
df_games['title'] = df_games['title'].fillna(df_games['app_name'])

In [13]:
#elimino la columna "app_name" ya la pude combinar con la columna title
df_games.drop(columns=['app_name'], inplace= True)

In [14]:
#buscamos valores faltantes
missing_values_table(df_games)

Your selected dataframe has 12 columns.
There are 10 columns that have missing values.

              Missing Values  % of Total Values
publisher               8071               25.1
developer               3299               10.3
genres                  3283               10.2
release_date            2067                6.4
price                   1377                4.3
specs                    670                2.1
tags                     163                0.5
title                      2                0.0
reviews_url                2                0.0
id                         2                0.0

In [15]:
#chequeamos los valores unicos para hacer replace() y poder cambiar el tipo de datos a uno manipulable.
print(pd.unique(df_games['price']))

['4.99' 'Free To Play' 'Free to Play' '0.99' '2.99' '3.99' '9.99' '18.99'
 '29.99' nan 'Free' '10.99' '1.5899999999999999' '14.99' '1.99' '59.99'
 '8.99' '6.99' '7.99' '39.99' '19.99' '7.49' '12.99' '5.99' '2.49' '15.99'
 '1.25' '24.99' '17.99' '61.99' '3.49' '11.99' '13.99' 'Free Demo'
 'Play for Free!' '34.99' '74.76' '1.49' '32.99' '99.99' '14.95' '69.99'
 '16.99' '79.99' '49.99' '5.0' '44.99' '13.98' '29.96' '119.99' '109.99'
 '149.99' '771.71' 'Install Now' '21.99' '89.99'
 'Play WARMACHINE: Tactics Demo' '0.98' '139.92' '4.29' '64.99' 'Free Mod'
 '54.99' '74.99' 'Install Theme' '0.89' 'Third-party' '0.5' 'Play Now'
 '299.99' '1.29' '3.0' '15.0' '5.49' '23.99' '49.0' '20.99' '10.93'
 '1.3900000000000001' 'Free HITMAN™ Holiday Pack' '36.99' '4.49' '2.0'
 '4.0' '9.0' '234.99' '1.9500000000000002' '1.5' '199.0' '189.0' '6.66'
 '27.99' '10.49' '129.99' '179.0' '26.99' '399.99' '31.99' '399.0' '20.0'
 '40.0' '3.33' '199.99' '22.99' '320.0' '38.85' '71.7' '59.95' '995.0'
 '27.49' '3.39' '6.0' '19.95' '499.99' '16.06' '4.68' '131.4' '44.98'
 '202.76' '1.0' '2.3' '0.9500000000000001' '172.24' '249.99'
 '2.9699999999999998' '10.96' '10.0' '30.0' '2.66' '6.48' '19.29' '11.15'
 '18.9' '2.89' 'Play the Demo' '99.0' '87.94' '599.0' '8.98' '9.69' '0.49'
 '9.98' '9.95' '7.0' 'Starting at $499.00' 'Starting at $449.00' '12.89'
 '6.49' '1.87' '42.99' '41.99' '289.99' 'Free to Try' '23.96' '5.65'
 '12.0' '13.37' '189.96' '124.99' 'Free Movie' '19.98' '160.91'
 'Free to Use']

In [16]:
#que significa "third-party"? ambos juegos son Free To Play, asi que podemos encapsularlos dentro de esa categoria
df_games[df_games['price'] == 'Third-party']

,publisher,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
92228,NaN,['Indie'],Parcel - Soundtrack,http://store.steampowered.com/app/362970/Parce...,2015-07-02,['Indie'],http://steamcommunity.com/app/362970/reviews/?...,"['Single-player', 'Shared/Split Screen', 'Down...",Third-party,0.0,362970.0,Polar Bunny Ltd
120148,"PopCap Games, Inc.",['Casual'],Peggle Extreme,http://store.steampowered.com/app/3483/Peggle_...,2007-09-11,"['Casual', 'Puzzle', 'Free to Play', 'Action']",http://steamcommunity.com/app/3483/reviews/?br...,['Single-player'],Third-party,0.0,3483.0,"PopCap Games, Inc."

In [17]:
#decido que los juegos Free to Play y otros similares, en vez de tener esa leyenda sea de precio 0.00, asi puedo tratarlos de manera mas sencilla mas adelante.


df_games.replace(['Free To Play', 'Free to Play', 'Free', 'Free Demo', 'Play for Free!', 'Install Now',
                  'Play WARMACHINE: Tactics Demo', 'Free Mod', 'Install Theme', 'Third-party', 'Play Now',
                  'Free HITMAN™ Holiday Pack', 'Play the Demo', 'Free to Try', 'Free Movie', 'Free to Use'], '0.00', inplace=True)

In [18]:
df_games[df_games['price'] == 'Starting at $499.00']

,publisher,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
113310,NaN,NaN,Syber Steam Machine,http://store.steampowered.com/app/353420/Syber...,2015-11-10,"['Steam Machine', 'Hardware']",http://steamcommunity.com/app/353420/reviews/?...,NaN,Starting at $499.00,0.0,353420.0,NaN

In [19]:
#tampoco es un juego, es otra consola
df_games[df_games['price'] == 'Starting at $449.00']

,publisher,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
113311,NaN,NaN,Alienware Steam Machine,http://store.steampowered.com/app/353390/Alien...,2015-11-10,"['Steam Machine', 'Hardware', 'Gaming', 'Futur...",http://steamcommunity.com/app/353390/reviews/?...,NaN,Starting at $449.00,0.0,353390.0,NaN

In [20]:
df_games.drop([113310, 113311], inplace=True)

In [21]:
print(pd.unique(df_games['price']))

['4.99' '0.00' '0.99' '2.99' '3.99' '9.99' '18.99' '29.99' nan '10.99'
 '1.5899999999999999' '14.99' '1.99' '59.99' '8.99' '6.99' '7.99' '39.99'
 '19.99' '7.49' '12.99' '5.99' '2.49' '15.99' '1.25' '24.99' '17.99'
 '61.99' '3.49' '11.99' '13.99' '34.99' '74.76' '1.49' '32.99' '99.99'
 '14.95' '69.99' '16.99' '79.99' '49.99' '5.0' '44.99' '13.98' '29.96'
 '119.99' '109.99' '149.99' '771.71' '21.99' '89.99' '0.98' '139.92'
 '4.29' '64.99' '54.99' '74.99' '0.89' '0.5' '299.99' '1.29' '3.0' '15.0'
 '5.49' '23.99' '49.0' '20.99' '10.93' '1.3900000000000001' '36.99' '4.49'
 '2.0' '4.0' '9.0' '234.99' '1.9500000000000002' '1.5' '199.0' '189.0'
 '6.66' '27.99' '10.49' '129.99' '179.0' '26.99' '399.99' '31.99' '399.0'
 '20.0' '40.0' '3.33' '199.99' '22.99' '320.0' '38.85' '71.7' '59.95'
 '995.0' '27.49' '3.39' '6.0' '19.95' '499.99' '16.06' '4.68' '131.4'
 '44.98' '202.76' '1.0' '2.3' '0.9500000000000001' '172.24' '249.99'
 '2.9699999999999998' '10.96' '10.0' '30.0' '2.66' '6.48' '19.29' '11.15'
 '18.9' '2.89' '99.0' '87.94' '599.0' '8.98' '9.69' '0.49' '9.98' '9.95'
 '7.0' '12.89' '6.49' '1.87' '42.99' '41.99' '289.99' '23.96' '5.65'
 '12.0' '13.37' '189.96' '124.99' '19.98' '160.91']

In [22]:
missing_values_table(df_games)

Your selected dataframe has 12 columns.
There are 10 columns that have missing values.

              Missing Values  % of Total Values
publisher               8069               25.1
developer               3297               10.3
genres                  3281               10.2
release_date            2067                6.4
price                   1377                4.3
specs                    668                2.1
tags                     163                0.5
title                      2                0.0
reviews_url                2                0.0
id                         2                0.0

In [23]:
#tenemos valores nulos. Lo rellenamos con el publusher ya que en gran medida el publisher y la empresa developer son la misma. De todas maneras solo estamos 
#achicando en un 0.01% la cantidad de valores nulos.



df_games['developer'] = df_games['developer'].fillna(df_games['publisher'])

In [24]:
missing_values_table(df_games)

Your selected dataframe has 12 columns.
There are 10 columns that have missing values.

              Missing Values  % of Total Values
publisher               8069               25.1
genres                  3281               10.2
developer               3232               10.1
release_date            2067                6.4
price                   1377                4.3
specs                    668                2.1
tags                     163                0.5
title                      2                0.0
reviews_url                2                0.0
id                         2                0.0

In [25]:
#relleno con NoData
df_games['developer'] = df_games['developer'].fillna('NoData')
df_games['release_date'] = df_games['release_date'].fillna('NoData')

In [26]:
#elimino columna que no voy a utilizar
df_games.drop(columns= 'publisher', inplace=True)

In [27]:
#vemos que hay varios missing values dentro de la columna price, pecs, tags y genres. 
missing_values_table(df_games)

Your selected dataframe has 11 columns.
There are 7 columns that have missing values.

             Missing Values  % of Total Values
genres                 3281               10.2
price                  1377                4.3
specs                   668                2.1
tags                    163                0.5
title                     2                0.0
reviews_url               2                0.0
id                        2                0.0

Las columnas "tags", "specs", y "genere" son altamente similarres. Una primera aproximación a esto va a ser la de unir las 3 columnas en una sola, de esta forma evito valores faltantes que vemos que hay varios. 

Tambien encontramos algunos missing values (solo un 4.3%) lo cual no nos afectaria tanto eliminar estos missing values del dataframe, pero haciendo un analisis un poco mas manual vemos que, en general son juegos no tan populares. Tambien tengo la teoria que hay varios juegos que carecen de precio por que son juegos Free To Play

Asique voy a intentar encontrar algunos patrones para determinar si tengo algunos juego que esten carentes de precio por ser gratis.

In [28]:
#encontramos el mismo problema de antes, esta formado por un string, no una lista

print(df_games['tags'][88310])

print(type(df_games['tags'][88310]))

['Strategy', 'Action', 'Indie', 'Casual', 'Simulation']
<class 'str'>

In [29]:
#reemplazamos los nan por un string que no sea valido para python para poder tratarlos

for column in ['tags', 'specs', 'genres']:
    df_games[column] = df_games[column].fillna('___nan___')

In [30]:
#convertimos las columnas de str a listas

for column in ['tags', 'specs', 'genres']:
    df_games[column] = df_games[column].apply(lambda x: ast.literal_eval(x) if x != '___nan___' else [])

In [31]:
#FUNCIONA!

print(df_games['tags'][88310])

print(type(df_games['tags'][88310]))

['Strategy', 'Action', 'Indie', 'Casual', 'Simulation']
<class 'list'>

In [32]:
# creamos una funcion que nos va a tomar los elementos de de specs, genres y tags y los ponde dentro 
# de una sola columna
def concatenate_and_remove_duplicates(lst):
    ''' 
    esta funcion concatena los elementos de las columnas que son formados por lista y devuelve un set
    Los sets no admiten valores repetidos lo cual me permite concatenar genre, tags y specs en una sola columna.
    
    '''
    combined_list = []
    for sublist in lst:
        if isinstance(sublist, list):  # Verificar si el valor es una lista
            combined_list.extend(sublist)
    return list(set(combined_list))

In [33]:

df_games['atributos'] = df_games.apply(lambda row: concatenate_and_remove_duplicates([row['specs'], row['tags'], row['genres']]), axis=1)

In [34]:
df_games.head()

,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,atributos
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro,"[Casual, Strategy, Simulation, Indie, Single-p..."
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,643980.0,Secret Level SRL,"[PvP, Replay Value, Character Customization, F..."
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",0.00,0.0,670290.0,Poolians.com,"[Casual, Stats, Simulation, Indie, Single-play..."
88313,"[Action, Adventure, Casual]",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域,"[Adventure, Action, Single-player, Casual]"
88314,[],Log Challenge,http://store.steampowered.com/app/773570/Log_C...,NoData,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,NoData,"[Casual, Tracked Motion Controllers, HTC Vive,..."

In [35]:
#ahora creo unnuevo dataframe unicamente con las filas que no tenian precio
nan_in_col  = df_games[df_games['price'].isna()]

In [36]:

imputer = nan_in_col.copy()

In [37]:
imputer

,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,atributos
88319,"[Casual, Indie, Racing, Simulation]",Race,http://store.steampowered.com/app/768800/Race/,2018-01-04,"[Indie, Casual, Simulation, Racing]",http://steamcommunity.com/app/768800/reviews/?...,"[Single-player, Multi-player, Partial Controll...",NaN,0.0,768800.0,RewindApp,"[Casual, Partial Controller Support, Racing, S..."
88320,"[Action, Indie, Simulation, Early Access]",Uncanny Islands,http://store.steampowered.com/app/768570/Uncan...,Soon..,"[Early Access, Action, Indie, Simulation, Surv...",http://steamcommunity.com/app/768570/reviews/?...,[Single-player],NaN,1.0,768570.0,Qucheza,"[Early Access, Simulation, Indie, Survival, Si..."
88341,"[Casual, Indie, Strategy]",Lost Cities,http://store.steampowered.com/app/520680/Lost_...,2018-01-01,"[Casual, Indie, Strategy, Card Game, Board Gam...",http://steamcommunity.com/app/520680/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",NaN,0.0,520680.0,BlueLine Games,"[Casual, Local Multi-Player, Steam Trading Car..."
88342,[Action],Twisted Enhanced Edition,http://store.steampowered.com/app/690410/Twist...,2018-01-01,"[Action, Platformer, Side Scroller]",http://steamcommunity.com/app/690410/reviews/?...,"[Single-player, Full controller support]",NaN,0.0,690410.0,Games by Brundle,"[Full controller support, Platformer, Side Scr..."
88344,"[Action, Casual, Indie, Massively Multiplayer,...",Tactics Forever,http://store.steampowered.com/app/413120/Tacti...,2018-01-01,"[Casual, Action, Massively Multiplayer, Indie,...",http://steamcommunity.com/app/413120/reviews/?...,"[Online Multi-Player, MMO, Cross-Platform Mult...",NaN,0.0,413120.0,ProjectorGames,"[Casual, Partial Controller Support, Massively..."
...,...,...,...,...,...,...,...,...,...,...,...,...
120409,"[Action, Indie]",Infinos Gaiden,http://store.steampowered.com/app/771070/Infin...,2018-01-19,"[Action, Indie, Shoot 'Em Up]",http://steamcommunity.com/app/771070/reviews/?...,"[Single-player, Partial Controller Support]",NaN,0.0,771070.0,Picorinne Soft,"[Partial Controller Support, Indie, Single-pla..."
120421,[Sports],International Online Soccer,http://store.steampowered.com/app/90007/Intern...,2002-01-01,"[Sports, Mod]",http://steamcommunity.com/app/90007/reviews/?b...,"[Multi-player, Mods (require HL2)]",NaN,0.0,90007.0,I.O.S. Team,"[Mods (require HL2), Mod, Multi-player, Sports]"
120433,"[Casual, Indie, Simulation, Sports, Early Access]",Cricket Club,http://store.steampowered.com/app/772180/Crick...,January 2018,"[Early Access, Indie, Casual, Simulation, Sports]",http://steamcommunity.com/app/772180/reviews/?...,[Single-player],NaN,1.0,772180.0,VersoVR,"[Casual, Early Access, Simulation, Indie, Sing..."
120435,"[Action, Adventure, Indie]",The spy who shot me™,http://store.steampowered.com/app/771810/The_s...,2018-10-01,"[Action, Adventure, Indie]",http://steamcommunity.com/app/771810/reviews/?...,"[Single-player, Captions available]",NaN,0.0,771810.0,Retro Army Limited,"[Captions available, Adventure, Indie, Single-..."
120438,"[Casual, Indie]",BAE 2,http://store.steampowered.com/app/769330/BAE_2/,2018-01-04,"[Indie, Casual]",http://steamcommunity.com/app/769330/reviews/?...,[Single-player],NaN,0.0,769330.0,Riviysky,"[Casual, Single-player, Indie]"

In [38]:
#aislo en otro dataframe los juegos gratis
juegos_gratis = df_games[df_games['price'] == '0.00']

In [39]:
#y analizo cuales son los atributos ("combinacion de genre, specs y tags") de los juegos gratis
df = pd.DataFrame(juegos_gratis["atributos"])

In [40]:
df["atributos"]

88311     [PvP, Replay Value, Character Customization, F...
88312     [Casual, Stats, Simulation, Indie, Single-play...
88321     [Casual, HTC Vive, Tracked Motion Controllers,...
88370                [Casual, Puzzle, Single-player, Indie]
88501     [Mod, Multi-player, FPS, Steam Achievements, M...
                                ...
120317    [Casual, Partial Controller Support, Indie, Si...
120387    [Casual, Seated, Early Access, Tracked Motion ...
120410    [Massively Multiplayer, Strategy, RPG, In-App ...
120411    [Partial Controller Support, Anime, Gore, Simu...
120431                    [Tutorial, Design & Illustration]
Name: atributos, Length: 1908, dtype: object

In [41]:
from collections import Counter
import ast
#df['atributos'] = df['atributos'].apply(ast.literal_eval)
atributos_counter = Counter()

In [42]:
for atributo_lista in df['atributos']:
    atributos_counter.update(atributo_lista)

In [43]:
atributos_mas_comunes = atributos_counter.most_common()

In [44]:
#asi aislo los atributos mas comunes enlos juegos gratis. En este momento aplico algo de experiencia propia en el área.

lista= []
for atributo, count in atributos_mas_comunes:
    lista.append(atributo)
    print(f"{atributo}: {count}")

Single-player: 1402
Free to Play: 1102
Indie: 1028
Action: 784
Steam Achievements: 763
Adventure: 653
Casual: 590
Multi-player: 537
Downloadable Content: 535
Steam Trading Cards: 510
Multiplayer: 489
Strategy: 453
RPG: 418
Simulation: 393
Online Multi-Player: 383
Massively Multiplayer: 345
Steam Cloud: 330
HTC Vive: 317
Co-op: 312
In-App Purchases: 296
Singleplayer: 295
Partial Controller Support: 294
Tracked Motion Controllers: 293
VR: 283
Full controller support: 262
Standing: 244
Room-Scale: 238
MMO: 226
Cross-Platform Multiplayer: 225
Seated: 201
Open World: 183
Early Access: 177
Oculus Rift: 175
FPS: 154
Steam Leaderboards: 154
Shooter: 148
Anime: 148
Stats: 141
Online Co-op: 135
Funny: 134
First-Person: 133
Horror: 119
2D: 116
Includes level editor: 111
Survival: 111
MMORPG: 108
Steam Workshop: 104
Fantasy: 103
Great Soundtrack: 99
Sports: 98
PvP: 96
Shared/Split Screen: 93
Atmospheric: 90
Online Co-Op: 87
Puzzle: 85
Pixel Graphics: 82
Sci-fi: 81
Sandbox: 79
Racing: 78
Keyboard / Mouse: 76
Local Multi-Player: 73
Visual Novel: 70
Card Game: 67
Zombies: 63
Utilities: 63
Nudity: 61
Captions available: 60
Story Rich: 59
Comedy: 59
Female Protagonist: 58
Gore: 58
Tactical: 55
Gamepad: 52
Design & Illustration: 50
Mod: 50
Memes: 50
Third Person: 50
Short: 50
Difficult: 48
MOBA: 46
Turn-Based: 45
Animation & Modeling: 45
Competitive: 43
Platformer: 43
Cute: 42
Psychological Horror: 42
Space: 41
Education: 41
Family Friendly: 41
Crafting: 40
Controller: 40
Building: 40
Violent: 40
Trading Card Game: 38
Clicker: 37
Team-Based: 36
Arcade: 35
RTS: 34
Character Customization: 33
War: 33
Retro: 33
Video Production: 33
RPGMaker: 32
Hack and Slash: 31
Action RPG: 31
Exploration: 30
Fighting: 29
Turn-Based Strategy: 29
Sexual Content: 29
Local Co-op: 29
Valve Anti-Cheat enabled: 28
Fast-Paced: 27
Third-Person Shooter: 27
Commentary available: 26
Episodic: 24
Design &amp; Illustration: 24
Windows Mixed Reality: 24
Survival Horror: 23
Walking Simulator: 23
Relaxing: 23
World War II: 22
Tower Defense: 22
Mystery: 22
PvE: 21
Classic: 21
Animation &amp; Modeling: 21
Illuminati: 21
Music: 21
Mature: 20
Post-apocalyptic: 20
Turn-Based Tactics: 20
Romance: 20
Board Game: 19
Physics: 19
Point & Click: 19
Documentary: 19
Realistic: 18
Game Development: 18
Historical: 17
Includes Source SDK: 17
Military: 17
e-sports: 17
Parkour: 17
Dating Sim: 17
Robots: 16
Software: 16
Local Multiplayer: 16
Turn-Based Combat: 16
Tanks: 15
Side Scroller: 15
Dark: 15
JRPG: 15
Medieval: 14
Dungeon Crawler: 14
360 Video: 14
Bullet Hell: 13
Rogue-like: 13
Dragons: 13
Futuristic: 13
Puzzle-Platformer: 13
Minimalist: 13
Cyberpunk: 13
Class-Based: 12
Action-Adventure: 12
Hidden Object: 12
Web Publishing: 12
Software Training: 12
Choices Matter: 12
Replay Value: 11
Top-Down Shooter: 11
Beat 'em up: 11
GameMaker: 11
Mods: 10
Aliens: 10
Magic: 10
Shoot 'Em Up: 10
Base Building: 10
Steam Turn Notifications: 10
Soundtrack: 10
Flight: 9
Match 3: 9
Stealth: 9
Experimental: 9
Cartoon: 9
Management: 9
Arena Shooter: 9
Gaming: 9
Otome: 9
Pirates: 8
Top-Down: 8
Local Co-Op: 8
3D Vision: 8
City Builder: 8
Surreal: 8
Choose Your Own Adventure: 8
Dinosaurs: 8
3D Platformer: 8
Mods (require HL2): 8
Moddable: 7
Superhero: 7
Steampunk: 7
Science: 7
Real-Time: 7
Soccer: 7
Interactive Fiction: 7
Hex Grid: 7
Tactical RPG: 6
Football: 6
Detective: 6
Movie: 6
Mechs: 6
Psychological: 6
Cartoony: 6
4 Player Local: 6
Gun Customization: 6
Crime: 5
SteamVR Collectibles: 5
Western: 5
Isometric: 5
Audio Production: 5
Cold War: 5
World War I: 5
Naval: 5
Games Workshop: 5
Space Sim: 5
Trading: 5
Rhythm: 5
Cult Classic: 5
Asynchronous Multiplayer: 5
Stylized: 5
Destruction: 5
Demons: 5
Time Travel: 5
Multiple Endings: 5
Fishing: 5
2D Fighter: 5
1980s: 5
Voxel: 5
Dark Fantasy: 4
Comic Book: 4
Perma Death: 4
Blood: 4
Gambling: 4
Twin Stick Shooter: 4
Heist: 4
Economy: 4
Philisophical: 4
Text-Based: 4
Rogue-lite: 4
Narration: 4
Mouse only: 4
Chess: 4
Wargame: 4
Cinematic: 4
Game demo: 4
Psychedelic: 3
Hacking: 3
Metroidvania: 3
Martial Arts: 3
America: 3
Dynamic Narration: 3
Ninja: 3
Touch-Friendly: 3
Capitalism: 3
Level Editor: 3
Mythology: 3
Grand Strategy: 3
Real Time Tactics: 3
Drama: 3
Lore-Rich: 3
Supernatural: 3
Lovecraftian: 3
Political: 3
Politics: 3
Driving: 3
Pinball: 3
Loot: 3
Noir: 3
Tutorial: 3
Abstract: 3
Parody: 3
Swordplay: 2
Batman: 2
TrackIR: 2
Kickstarter: 2
Procedural Generation: 2
Dystopian: 2
Silent Protagonist: 2
Basketball: 2
Colorful: 2
Photo Editing: 2
Co-op Campaign: 2
Benchmark: 2
6DOF: 2
Assassin: 2
Score Attack: 2
God Game: 2
Hunting: 2
Hand-drawn: 2
Conspiracy: 2
Experience: 2
Split Screen: 2
Strategy RPG: 2
Sailing: 2
Resource Management: 2
Based On A Novel: 1
Werewolves: 1
Dark Humor: 1
LEGO: 1
Star Wars: 1
Horses: 1
Golf: 1
Time Attack: 1
Gothic: 1
4X: 1
Accounting: 1
Linear: 1
Thriller: 1
Artificial Intelligence: 1
Programming: 1
Trains: 1
Alternate History: 1
Diplomacy: 1
Satire: 1
Underground: 1
Mystery Dungeon: 1
Underwater: 1
Crowdfunded: 1
Sniper: 1
Music-Based Procedural Generation: 1
Modern: 1
Remake: 1
Grid-Based Movement: 1
Party-Based RPG: 1
Typing: 1
Pool: 1
Villain Protagonist: 1
Agriculture: 1
Runner: 1
Time Manipulation: 1
Rome: 1
Bullet Time: 1
Mining: 1

In [45]:
palabras_clave_gratuitas = ['Free to Play', 'Multi-player', 'Downloadable Content', 'Steam Trading Cards',
                            'Multiplayer', 'Online Multi-Player', 'Massively Multiplayer', 'Co-op', 'MMO',
                            'Cross-Platform Multiplayer', 'Online Co-op', 'MMO', 'MMORPG', 'Visual Novel',
                            'Card Game', 'Memes', 'Mod', 'MOBA', 'Trading Card Game', 'Competitive', "Game demo", "Utilities"]

In [46]:
#aplico con una funcion

def es_juego_gratuito(atributos):
    for palabra_clave in palabras_clave_gratuitas:
        if palabra_clave in atributos:
            return True
    return False

In [47]:
imputer['es_gratuito'] = imputer['atributos'].apply(es_juego_gratuito)

In [48]:
imputer.loc[imputer['es_gratuito'], 'price'] = '0.00'

In [49]:
df_games['price'] = df_games['price'].fillna(imputer['price'])

In [50]:
nan_in_col = df_games[df_games['price'].isna()]

In [52]:
#parece que bastante bien. baje a 1% la cantidad de valores faltantes de la columna price

missing_values_table(df_games)

Your selected dataframe has 12 columns.
There are 4 columns that have missing values.

             Missing Values  % of Total Values
price                   306                1.0
title                     2                0.0
reviews_url               2                0.0
id                        2                0.0

In [53]:
df_games = df_games.dropna()

In [54]:
missing_values_table(df_games)

Your selected dataframe has 12 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [55]:
#ahora voy a normalizar la columna release_date

list = pd.unique(df_games['release_date'])

lista = sorted(list, reverse=True)

for i in lista:
    print(i)

预热群52756441
soon
early access
coming soon
Winter 2017
When it's done!
When it's done (2017)
When it is ready
When it is finished
To be Announced
To Be Announced
TBD
TBA 2017
TBA
Summer 2017
Spring 2018
Soon™
Soon
Sep 2014
Sep 2009
SOON™
SOON
Release Date TBA
Q4 2017
Q1 2018
Play Beta in demo!
Oct 2016
Oct 2010
Oct 2009
Nov 2017
Nov 2016
Nov 2014
Not yet available
NoData
May 2015
May 2014
Mar 2018
Mar 2010
Jun 2016
Jun 2015
Jun 2009
Jul 2017
Jul 2016
Jul 2014
Jul 2010
January 2019
Jan 2017
Jan 2015
Jan 2010
Hitting Early Access in 2017
First quarter of 2018
Feb 2015
Feb 2013
Feb 2011
Fall 2017
End 2017
Early Access soon
Early Access Starting Soon!
Early 2017
Demo coming soon.
December 2017
Dec 2017
Dec 2012
Coming soon..
Coming soon
Coming Soon/Próximamente
Coming Soon
Beta测试已开启
August 2018
Aug 2015
Aug 2014
Apr 2017
Apr 2016
Apr 2015
2021-12-31
2019-12-10
2018年初頭発売予定
2018年1月
2018-12-31
2018-12-20
2018-12-01
2018-09-25
2018-09-17
2018-09-10
2018-08-22
2018-08-06
2018-06-30
2018-03-30
2018-03-22
2018-03-14
2018-03-08
2018-03-01
2018-02-28
2018-02-08
2018-02-02
2018-01-31
2018-01-15
2018-01-04
2018-01-03
2018-01-02
2018-01-01
2018
2017-12-31
2017-12-30
2017-12-29
2017-12-28
2017-12-27
2017-12-26
2017-12-25
2017-12-24
2017-12-23
2017-12-22
2017-12-21
2017-12-20
2017-12-19
2017-12-18
2017-12-17
2017-12-16
2017-12-15
2017-12-14
2017-12-13
2017-12-12
2017-12-11
2017-12-10
2017-12-09
2017-12-08
2017-12-07
2017-12-06
2017-12-05
2017-12-04
2017-12-03
2017-12-02
2017-12-01
2017-11-30
2017-11-29
2017-11-28
2017-11-27
2017-11-26
2017-11-25
2017-11-24
2017-11-23
2017-11-22
2017-11-21
2017-11-20
2017-11-19
2017-11-18
2017-11-17
2017-11-16
2017-11-15
2017-11-14
2017-11-13
2017-11-12
2017-11-11
2017-11-10
2017-11-09
2017-11-08
2017-11-07
2017-11-06
2017-11-05
2017-11-04
2017-11-03
2017-11-02
2017-11-01
2017-10-31
2017-10-30
2017-10-29
2017-10-28
2017-10-27
2017-10-26
2017-10-25
2017-10-24
2017-10-23
2017-10-22
2017-10-21
2017-10-20
2017-10-19
2017-10-18
2017-10-17
2017-10-16
2017-10-15
2017-10-14
2017-10-13
2017-10-12
2017-10-11
2017-10-10
2017-10-09
2017-10-07
2017-10-06
2017-10-05
2017-10-04
2017-10-03
2017-10-02
2017-10-01
2017-09-30
2017-09-29
2017-09-28
2017-09-27
2017-09-26
2017-09-25
2017-09-24
2017-09-23
2017-09-22
2017-09-21
2017-09-20
2017-09-19
2017-09-18
2017-09-17
2017-09-16
2017-09-15
2017-09-14
2017-09-13
2017-09-12
2017-09-11
2017-09-10
2017-09-09
2017-09-08
2017-09-07
2017-09-06
2017-09-05
2017-09-04
2017-09-03
2017-09-02
2017-09-01
2017-08-31
2017-08-30
2017-08-29
2017-08-28
2017-08-27
2017-08-26
2017-08-25
2017-08-24
2017-08-23
2017-08-22
2017-08-21
2017-08-20
2017-08-19
2017-08-18
2017-08-17
2017-08-16
2017-08-15
2017-08-14
2017-08-13
2017-08-12
2017-08-11
2017-08-10
2017-08-09
2017-08-08
2017-08-07
2017-08-06
2017-08-05
2017-08-04
2017-08-03
2017-08-02
2017-08-01
2017-07-31
2017-07-30
2017-07-29
2017-07-28
2017-07-27
2017-07-26
2017-07-25
2017-07-24
2017-07-23
2017-07-22
2017-07-21
2017-07-20
2017-07-19
2017-07-18
2017-07-17
2017-07-16
2017-07-15
2017-07-14
2017-07-13
2017-07-12
2017-07-11
2017-07-10
2017-07-09
2017-07-08
2017-07-07
2017-07-06
2017-07-05
2017-07-04
2017-07-03
2017-07-02
2017-07-01
2017-06-30
2017-06-29
2017-06-28
2017-06-27
2017-06-26
2017-06-25
2017-06-24
2017-06-23
2017-06-22
2017-06-21
2017-06-20
2017-06-19
2017-06-18
2017-06-17
2017-06-16
2017-06-15
2017-06-14
2017-06-13
2017-06-12
2017-06-11
2017-06-10
2017-06-09
2017-06-08
2017-06-07
2017-06-06
2017-06-05
2017-06-04
2017-06-03
2017-06-02
2017-06-01
2017-05-31
2017-05-30
2017-05-29
2017-05-28
2017-05-27
2017-05-26
2017-05-25
2017-05-24
2017-05-23
2017-05-22
2017-05-21
2017-05-20
2017-05-19
2017-05-18
2017-05-17
2017-05-16
2017-05-15
2017-05-14
2017-05-12
2017-05-11
2017-05-10
2017-05-09
2017-05-08
2017-05-07
2017-05-05
2017-05-04
2017-05-03
2017-05-02
2017-05-01
2017-04-30
2017-04-29
2017-04-28
2017-04-27
2017-04-26
2017-04-25
2017-04-24
2017-04-23
2017-04-22
2017-04-21
2017-04-20
2017-04-19
2017-04-18
2017-04-17
2017-04-15
2017-04-14
2017-04-13
2017-04-12
2017-04-11
2017-04-10
2017-04-09
2017-04-08
2017-04-07
2017-04-06
2017-04-05
2017-04-04
2017-04-03
2017-04-02
2017-04-01
2017-03-31
2017-03-30
2017-03-29
2017-03-28
2017-03-27
2017-03-25
2017-03-24
2017-03-23
2017-03-22
2017-03-21
2017-03-20
2017-03-19
2017-03-18
2017-03-17
2017-03-16
2017-03-15
2017-03-14
2017-03-13
2017-03-11
2017-03-10
2017-03-09
2017-03-08
2017-03-07
2017-03-06
2017-03-03
2017-03-02
2017-03-01
2017-02-28
2017-02-27
2017-02-26
2017-02-25
2017-02-24
2017-02-23
2017-02-22
2017-02-21
2017-02-20
2017-02-19
2017-02-18
2017-02-17
2017-02-16
2017-02-15
2017-02-14
2017-02-13
2017-02-11
2017-02-10
2017-02-09
2017-02-08
2017-02-07
2017-02-06
2017-02-05
2017-02-04
2017-02-03
2017-02-02
2017-02-01
2017-01-31
2017-01-30
2017-01-29
2017-01-28
2017-01-27
2017-01-26
2017-01-25
2017-01-24
2017-01-23
2017-01-22
2017-01-21
2017-01-20
2017-01-19
2017-01-18
2017-01-17
2017-01-16
2017-01-15
2017-01-14
2017-01-13
2017-01-12
2017-01-11
2017-01-10
2017-01-09
2017-01-08
2017-01-07
2017-01-06
2017-01-05
2017-01-04
2017-01-03
2017-01-02
2017-01-01
2017 Q4
2017 Q1
2017
2016-12-31
2016-12-30
2016-12-29
2016-12-28
2016-12-27
2016-12-26
2016-12-25
2016-12-24
2016-12-23
2016-12-22
2016-12-21
2016-12-20
2016-12-19
2016-12-18
2016-12-17
2016-12-16
2016-12-15
2016-12-14
2016-12-13
2016-12-12
2016-12-11
2016-12-10
2016-12-09
2016-12-08
2016-12-07
2016-12-06
2016-12-05
2016-12-04
2016-12-02
2016-12-01
2016-11-30
2016-11-29
2016-11-28
2016-11-25
2016-11-24
2016-11-23
2016-11-22
2016-11-21
2016-11-20
2016-11-19
2016-11-18
2016-11-17
2016-11-16
2016-11-15
2016-11-14
2016-11-13
2016-11-12
2016-11-11
2016-11-10
2016-11-09
2016-11-08
2016-11-07
2016-11-06
2016-11-05
2016-11-04
2016-11-03
2016-11-02
2016-11-01
2016-10-31
2016-10-30
2016-10-29
2016-10-28
2016-10-27
2016-10-26
2016-10-25
2016-10-24
2016-10-23
2016-10-22
2016-10-21
2016-10-20
2016-10-19
2016-10-18
2016-10-17
2016-10-16
2016-10-15
2016-10-14
2016-10-13
2016-10-12
2016-10-11
2016-10-10
2016-10-08
2016-10-07
2016-10-06
2016-10-05
2016-10-04
2016-10-03
2016-10-02
2016-10-01
2016-09-30
2016-09-29
2016-09-28
2016-09-27
2016-09-26
2016-09-25
2016-09-24
2016-09-23
2016-09-22
2016-09-21
2016-09-20
2016-09-19
2016-09-17
2016-09-16
2016-09-15
2016-09-14
2016-09-13
2016-09-12
2016-09-11
2016-09-10
2016-09-09
2016-09-08
2016-09-07
2016-09-06
2016-09-05
2016-09-04
2016-09-03
2016-09-02
2016-09-01
2016-08-31
2016-08-30
2016-08-29
2016-08-28
2016-08-27
2016-08-26
2016-08-25
2016-08-24
2016-08-23
2016-08-22
2016-08-21
2016-08-20
2016-08-19
2016-08-18
2016-08-17
2016-08-16
2016-08-15
2016-08-14
2016-08-13
2016-08-12
2016-08-11
2016-08-10
2016-08-09
2016-08-08
2016-08-07
2016-08-06
2016-08-05
2016-08-04
2016-08-03
2016-08-02
2016-08-01
2016-07-31
2016-07-30
2016-07-29
2016-07-28
2016-07-27
2016-07-26
2016-07-25
2016-07-24
2016-07-22
2016-07-21
2016-07-20
2016-07-19
2016-07-18
2016-07-17
2016-07-16
2016-07-15
2016-07-14
2016-07-13
2016-07-12
2016-07-11
2016-07-10
2016-07-09
2016-07-08
2016-07-07
2016-07-06
2016-07-05
2016-07-04
2016-07-02
2016-07-01
2016-06-30
2016-06-29
2016-06-28
2016-06-27
2016-06-26
2016-06-25
2016-06-24
2016-06-23
2016-06-22
2016-06-21
2016-06-20
2016-06-19
2016-06-18
2016-06-17
2016-06-16
2016-06-15
2016-06-14
2016-06-13
2016-06-12
2016-06-11
2016-06-10
2016-06-09
2016-06-08
2016-06-07
2016-06-06
2016-06-05
2016-06-04
2016-06-03
2016-06-02
2016-06-01
2016-05-31
2016-05-30
2016-05-29
2016-05-28
2016-05-27
2016-05-26
2016-05-25
2016-05-24
2016-05-23
2016-05-22
2016-05-21
2016-05-20
2016-05-19
2016-05-18
2016-05-17
2016-05-16
2016-05-14
2016-05-13
2016-05-12
2016-05-11
2016-05-10
2016-05-09
2016-05-07
2016-05-06
2016-05-05
2016-05-04
2016-05-03
2016-05-02
2016-05-01
2016-04-30
2016-04-29
2016-04-28
2016-04-27
2016-04-26
2016-04-25
2016-04-24
2016-04-23
2016-04-22
2016-04-21
2016-04-20
2016-04-19
2016-04-18
2016-04-17
2016-04-16
2016-04-15
2016-04-14
2016-04-13
2016-04-12
2016-04-11
2016-04-10
2016-04-09
2016-04-08
2016-04-07
2016-04-06
2016-04-05
2016-04-04
2016-04-03
2016-04-02
2016-04-01
2016-03-31
2016-03-30
2016-03-29
2016-03-28
2016-03-27
2016-03-25
2016-03-24
2016-03-23
2016-03-22
2016-03-21
2016-03-20
2016-03-19
2016-03-18
2016-03-17
2016-03-16
2016-03-15
2016-03-14
2016-03-13
2016-03-12
2016-03-11
2016-03-10
2016-03-09
2016-03-08
2016-03-07
2016-03-06
2016-03-04
2016-03-03
2016-03-02
2016-03-01
2016-02-29
2016-02-28
2016-02-27
2016-02-26
2016-02-25
2016-02-24
2016-02-23
2016-02-22
2016-02-20
2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15
2016-02-12
2016-02-11
2016-02-10
2016-02-09
2016-02-08
2016-02-07
2016-02-05
2016-02-04
2016-02-03
2016-02-02
2016-02-01
2016-01-31
2016-01-29
2016-01-28
2016-01-27
2016-01-26
2016-01-25
2016-01-23
2016-01-22
2016-01-21
2016-01-20
2016-01-19
2016-01-18
2016-01-15
2016-01-14
2016-01-13
2016-01-12
2016-01-11
2016-01-09
2016-01-08
2016-01-07
2016-01-06
2016-01-05
2016-01-04
2016-01-03
2016-01-02
2016-01-01
2016
2015-12-31
2015-12-30
2015-12-29
2015-12-28
2015-12-25
2015-12-24
2015-12-23
2015-12-22
2015-12-21
2015-12-18
2015-12-17
2015-12-16
2015-12-15
2015-12-14
2015-12-11
2015-12-10
2015-12-09
2015-12-08
2015-12-07
2015-12-05
2015-12-04
2015-12-03
2015-12-02
2015-12-01
2015-11-30
2015-11-29
2015-11-28
2015-11-27
2015-11-26
2015-11-25
2015-11-24
2015-11-23
2015-11-22
2015-11-20
2015-11-19
2015-11-18
2015-11-17
2015-11-16
2015-11-15
2015-11-14
2015-11-13
2015-11-12
2015-11-11
2015-11-10
2015-11-09
2015-11-06
2015-11-05
2015-11-04
2015-11-03
2015-11-02
2015-11-01
2015-10-31
2015-10-30
2015-10-29
2015-10-28
2015-10-27
2015-10-26
2015-10-24
2015-10-23
2015-10-22
2015-10-21
2015-10-20
2015-10-19
2015-10-18
2015-10-17
2015-10-16
2015-10-15
2015-10-14
2015-10-13
2015-10-12
2015-10-09
2015-10-08
2015-10-07
2015-10-06
2015-10-05
2015-10-04
2015-10-02
2015-10-01
2015-09-30
2015-09-29
2015-09-28
2015-09-27
2015-09-25
2015-09-24
2015-09-23
2015-09-22
2015-09-21
2015-09-20
2015-09-19
2015-09-18
2015-09-17
2015-09-16
2015-09-15
2015-09-14
2015-09-11
2015-09-10
2015-09-09
2015-09-08
2015-09-07
2015-09-06
2015-09-05
2015-09-04
2015-09-03
2015-09-02
2015-09-01
2015-08-31
2015-08-29
2015-08-28
2015-08-27
2015-08-26
2015-08-25
2015-08-24
2015-08-21
2015-08-20
2015-08-19
2015-08-18
2015-08-17
2015-08-16
2015-08-15
2015-08-14
2015-08-13
2015-08-12
2015-08-11
2015-08-10
2015-08-07
2015-08-06
2015-08-05
2015-08-04
2015-08-03
2015-08-01
2015-07-31
2015-07-30
2015-07-29
2015-07-28
2015-07-27
2015-07-24
2015-07-23
2015-07-22
2015-07-21
2015-07-20
2015-07-17
2015-07-16
2015-07-15
2015-07-14
2015-07-13
2015-07-10
2015-07-09
2015-07-08
2015-07-07
2015-07-06
2015-07-04
2015-07-03
2015-07-02
2015-07-01
2015-06-30
2015-06-29
2015-06-28
2015-06-27
2015-06-26
2015-06-25
2015-06-24
2015-06-23
2015-06-22
2015-06-19
2015-06-18
2015-06-17
2015-06-16
2015-06-15
2015-06-12
2015-06-11
2015-06-10
2015-06-09
2015-06-08
2015-06-07
2015-06-06
2015-06-05
2015-06-04
2015-06-03
2015-06-02
2015-06-01
2015-05-31
2015-05-30
2015-05-29
2015-05-28
2015-05-27
2015-05-26
2015-05-25
2015-05-23
2015-05-22
2015-05-21
2015-05-20
2015-05-19
2015-05-18
2015-05-15
2015-05-14
2015-05-13
2015-05-12
2015-05-11
2015-05-09
2015-05-08
2015-05-07
2015-05-06
2015-05-05
2015-05-04
2015-05-02
2015-05-01
2015-04-30
2015-04-29
2015-04-28
2015-04-27
2015-04-26
2015-04-25
2015-04-24
2015-04-23
2015-04-22
2015-04-21
2015-04-20
2015-04-19
2015-04-17
2015-04-16
2015-04-15
2015-04-14
2015-04-13
2015-04-11
2015-04-10
2015-04-09
2015-04-08
2015-04-07
2015-04-06
2015-04-03
2015-04-02
2015-04-01
2015-03-31
2015-03-30
2015-03-27
2015-03-26
2015-03-25
2015-03-24
2015-03-23
2015-03-20
2015-03-19
2015-03-18
2015-03-17
2015-03-16
2015-03-15
2015-03-14
2015-03-13
2015-03-12
2015-03-11
2015-03-10
2015-03-09
2015-03-08
2015-03-06
2015-03-05
2015-03-04
2015-03-03
2015-03-02
2015-03-01
2015-02-27
2015-02-26
2015-02-25
2015-02-24
2015-02-23
2015-02-21
2015-02-20
2015-02-19
2015-02-18
2015-02-17
2015-02-16
2015-02-15
2015-02-13
2015-02-12
2015-02-11
2015-02-10
2015-02-09
2015-02-06
2015-02-05
2015-02-04
2015-02-03
2015-02-02
2015-01-31
2015-01-30
2015-01-29
2015-01-28
2015-01-27
2015-01-26
2015-01-25
2015-01-23
2015-01-22
2015-01-21
2015-01-20
2015-01-19
2015-01-18
2015-01-17
2015-01-16
2015-01-15
2015-01-14
2015-01-13
2015-01-12
2015-01-11
2015-01-09
2015-01-08
2015-01-07
2015-01-06
2015-01-05
2015-01-02
2015-01-01
2014-12-31
2014-12-30
2014-12-29
2014-12-27
2014-12-25
2014-12-24
2014-12-23
2014-12-22
2014-12-19
2014-12-18
2014-12-17
2014-12-16
2014-12-15
2014-12-14
2014-12-13
2014-12-12
2014-12-11
2014-12-10
2014-12-09
2014-12-08
2014-12-06
2014-12-05
2014-12-04
2014-12-03
2014-12-02
2014-12-01
2014-11-29
2014-11-28
2014-11-27
2014-11-26
2014-11-25
2014-11-24
2014-11-22
2014-11-21
2014-11-20
2014-11-19
2014-11-18
2014-11-17
2014-11-16
2014-11-15
2014-11-14
2014-11-13
2014-11-12
2014-11-11
2014-11-10
2014-11-07
2014-11-06
2014-11-05
2014-11-04
2014-11-03
2014-10-31
2014-10-30
2014-10-29
2014-10-28
2014-10-27
2014-10-24
2014-10-23
2014-10-22
2014-10-21
2014-10-20
2014-10-19
2014-10-18
2014-10-17
2014-10-16
2014-10-15
2014-10-14
2014-10-13
2014-10-10
2014-10-09
2014-10-08
2014-10-07
2014-10-06
2014-10-03
2014-10-02
2014-10-01
2014-09-30
2014-09-29
2014-09-27
2014-09-26
2014-09-25
2014-09-24
2014-09-23
2014-09-22
2014-09-19
2014-09-18
2014-09-17
2014-09-16
2014-09-15
2014-09-12
2014-09-11
2014-09-10
2014-09-09
2014-09-08
2014-09-05
2014-09-04
2014-09-03
2014-09-02
2014-09-01
2014-08-30
2014-08-29
2014-08-28
2014-08-27
2014-08-26
2014-08-25
2014-08-24
2014-08-22
2014-08-21
2014-08-20
2014-08-19
2014-08-18
2014-08-16
2014-08-15
2014-08-14
2014-08-13
2014-08-12
2014-08-11
2014-08-10
2014-08-08
2014-08-07
2014-08-06
2014-08-05
2014-08-04
2014-08-02
2014-08-01
2014-07-31
2014-07-30
2014-07-29
2014-07-28
2014-07-25
2014-07-24
2014-07-23
2014-07-22
2014-07-21
2014-07-18
2014-07-17
2014-07-16
2014-07-15
2014-07-14
2014-07-13
2014-07-12
2014-07-11
2014-07-10
2014-07-09
2014-07-08
2014-07-07
2014-07-05
2014-07-04
2014-07-03
2014-07-02
2014-07-01
2014-06-30
2014-06-27
2014-06-26
2014-06-25
2014-06-24
2014-06-23
2014-06-20
2014-06-19
2014-06-18
2014-06-17
2014-06-16
2014-06-13
2014-06-12
2014-06-11
2014-06-10
2014-06-09
2014-06-08
2014-06-07
2014-06-06
2014-06-05
2014-06-04
2014-06-03
2014-06-01
2014-05-31
2014-05-30
2014-05-29
2014-05-28
2014-05-27
2014-05-26
2014-05-25
2014-05-23
2014-05-22
2014-05-21
2014-05-20
2014-05-19
2014-05-18
2014-05-16
2014-05-15
2014-05-14
2014-05-13
2014-05-12
2014-05-09
2014-05-08
2014-05-07
2014-05-06
2014-05-05
2014-05-04
2014-05-02
2014-05-01
2014-04-30
2014-04-29
2014-04-28
2014-04-25
2014-04-24
2014-04-23
2014-04-22
2014-04-19
2014-04-18
2014-04-17
2014-04-16
2014-04-15
2014-04-14
2014-04-11
2014-04-10
2014-04-09
2014-04-08
2014-04-07
2014-04-04
2014-04-03
2014-04-02
2014-04-01
2014-03-29
2014-03-28
2014-03-27
2014-03-26
2014-03-25
2014-03-24
2014-03-21
2014-03-20
2014-03-19
2014-03-18
2014-03-17
2014-03-16
2014-03-15
2014-03-14
2014-03-13
2014-03-12
2014-03-11
2014-03-10
2014-03-08
2014-03-07
2014-03-06
2014-03-05
2014-03-04
2014-03-03
2014-02-28
2014-02-27
2014-02-26
2014-02-25
2014-02-24
2014-02-22
2014-02-21
2014-02-20
2014-02-19
2014-02-18
2014-02-17
2014-02-15
2014-02-14
2014-02-13
2014-02-12
2014-02-11
2014-02-08
2014-02-07
2014-02-06
2014-02-05
2014-02-04
2014-02-03
2014-02-01
2014-01-31
2014-01-30
2014-01-29
2014-01-28
2014-01-27
2014-01-26
2014-01-25
2014-01-24
2014-01-23
2014-01-22
2014-01-21
2014-01-20
2014-01-17
2014-01-16
2014-01-15
2014-01-14
2014-01-13
2014-01-10
2014-01-09
2014-01-08
2014-01-07
2014-01-06
2014-01-03
2014-01-01
2013-12-27
2013-12-20
2013-12-19
2013-12-18
2013-12-17
2013-12-16
2013-12-13
2013-12-12
2013-12-11
2013-12-10
2013-12-09
2013-12-08
2013-12-06
2013-12-05
2013-12-04
2013-12-03
2013-12-02
2013-12-01
2013-11-29
2013-11-28
2013-11-27
2013-11-26
2013-11-25
2013-11-22
2013-11-21
2013-11-20
2013-11-19
2013-11-18
2013-11-15
2013-11-14
2013-11-13
2013-11-12
2013-11-11
2013-11-10
2013-11-08
2013-11-07
2013-11-06
2013-11-05
2013-11-04
2013-11-01
2013-10-31
2013-10-30
2013-10-29
2013-10-28
2013-10-27
2013-10-25
2013-10-24
2013-10-23
2013-10-22
2013-10-21
2013-10-18
2013-10-17
2013-10-16
2013-10-15
2013-10-14
2013-10-11
2013-10-10
2013-10-09
2013-10-08
2013-10-07
2013-10-04
2013-10-03
2013-10-02
2013-10-01
2013-09-30
2013-09-28
2013-09-27
2013-09-26
2013-09-25
2013-09-24
2013-09-23
2013-09-20
2013-09-19
2013-09-18
2013-09-17
2013-09-16
2013-09-13
2013-09-12
2013-09-11
2013-09-10
2013-09-09
2013-09-08
2013-09-07
2013-09-06
2013-09-05
2013-09-04
2013-09-03
2013-09-02
2013-09-01
2013-08-29
2013-08-28
2013-08-27
2013-08-26
2013-08-24
2013-08-23
2013-08-22
2013-08-21
2013-08-20
2013-08-19
2013-08-18
2013-08-17
2013-08-16
2013-08-15
2013-08-14
2013-08-13
2013-08-12
2013-08-09
2013-08-08
2013-08-07
2013-08-06
2013-08-05
2013-08-02
2013-08-01
2013-07-31
2013-07-30
2013-07-29
2013-07-26
2013-07-25
2013-07-24
2013-07-23
2013-07-20
2013-07-18
2013-07-16
2013-07-14
2013-07-12
2013-07-11
2013-07-09
2013-07-08
2013-07-07
2013-07-04
2013-07-03
2013-07-02
2013-07-01
2013-06-28
2013-06-27
2013-06-26
2013-06-25
2013-06-24
2013-06-21
2013-06-20
2013-06-18
2013-06-17
2013-06-16
2013-06-13
2013-06-12
2013-06-11
2013-06-10
2013-06-07
2013-06-06
2013-06-05
2013-06-04
2013-06-03
2013-06-01
2013-05-31
2013-05-30
2013-05-29
2013-05-28
2013-05-27
2013-05-24
2013-05-23
2013-05-22
2013-05-21
2013-05-20
2013-05-17
2013-05-16
2013-05-15
2013-05-14
2013-05-13
2013-05-10
2013-05-09
2013-05-08
2013-05-07
2013-05-06
2013-05-03
2013-05-02
2013-05-01
2013-04-30
2013-04-29
2013-04-28
2013-04-26
2013-04-25
2013-04-24
2013-04-23
2013-04-22
2013-04-19
2013-04-18
2013-04-17
2013-04-16
2013-04-15
2013-04-12
2013-04-11
2013-04-10
2013-04-09
2013-04-08
2013-04-07
2013-04-06
2013-04-05
2013-04-04
2013-04-03
2013-04-02
2013-04-01
2013-03-30
2013-03-29
2013-03-28
2013-03-26
2013-03-25
2013-03-23
2013-03-22
2013-03-21
2013-03-20
2013-03-19
2013-03-18
2013-03-16
2013-03-15
2013-03-14
2013-03-13
2013-03-12
2013-03-11
2013-03-10
2013-03-09
2013-03-08
2013-03-07
2013-03-05
2013-03-04
2013-03-02
2013-03-01
2013-02-28
2013-02-27
2013-02-26
2013-02-25
2013-02-22
2013-02-21
2013-02-20
2013-02-19
2013-02-18
2013-02-15
2013-02-14
2013-02-13
2013-02-12
2013-02-11
2013-02-10
2013-02-08
2013-02-07
2013-02-06
2013-02-05
2013-02-01
2013-01-31
2013-01-30
2013-01-29
2013-01-28
2013-01-25
2013-01-24
2013-01-23
2013-01-22
2013-01-21
2013-01-18
2013-01-17
2013-01-16
2013-01-15
2013-01-14
2013-01-13
2013-01-12
2013-01-11
2013-01-10
2013-01-09
2013-01-08
2013-01-07
2013-01-04
2013-01-01
2012-12-31
2012-12-21
2012-12-20
2012-12-19
2012-12-18
2012-12-17
2012-12-13
2012-12-12
2012-12-11
2012-12-10
2012-12-07
2012-12-06
2012-12-05
2012-12-04
2012-12-03
2012-12-01
2012-11-30
2012-11-29
2012-11-28
2012-11-27
2012-11-23
2012-11-21
2012-11-20
2012-11-19
2012-11-18
2012-11-15
2012-11-14
2012-11-13
2012-11-12
2012-11-09
2012-11-08
2012-11-07
2012-11-06
2012-11-02
2012-11-01
2012-10-31
2012-10-30
2012-10-29
2012-10-28
2012-10-26
2012-10-25
2012-10-24
2012-10-23
2012-10-22
2012-10-20
2012-10-19
2012-10-18
2012-10-17
2012-10-16
2012-10-15
2012-10-12
2012-10-11
2012-10-10
2012-10-09
2012-10-08
2012-10-06
2012-10-05
2012-10-04
2012-10-03
2012-10-02
2012-10-01
2012-09-29
2012-09-28
2012-09-27
2012-09-26
2012-09-25
2012-09-24
2012-09-22
2012-09-21
2012-09-20
2012-09-19
2012-09-18
2012-09-17
2012-09-14
2012-09-13
2012-09-12
2012-09-11
2012-09-10
2012-09-07
2012-09-06
2012-09-05
2012-09-04
2012-09-03
2012-09-01
2012-08-31
2012-08-30
2012-08-29
2012-08-28
2012-08-27
2012-08-24
2012-08-23
2012-08-22
2012-08-21
2012-08-20
2012-08-17
2012-08-16
2012-08-15
2012-08-14
2012-08-13
2012-08-11
2012-08-10
2012-08-09
2012-08-08
2012-08-07
2012-08-06
2012-08-04
2012-08-03
2012-08-02
2012-08-01
2012-07-31
2012-07-30
2012-07-28
2012-07-27
2012-07-26
2012-07-25
2012-07-24
2012-07-23
2012-07-20
2012-07-19
2012-07-16
2012-07-13
2012-07-12
2012-07-11
2012-07-10
2012-07-09
2012-07-06
2012-07-05
2012-07-04
2012-07-03
2012-07-02
2012-07-01
2012-06-30
2012-06-27
2012-06-26
2012-06-25
2012-06-23
2012-06-22
2012-06-21
2012-06-20
2012-06-19
2012-06-18

In [56]:
#Estos nombres hacen referencia a que no tienen fecha de salida aún

df_games.replace(["预热群52756441",
                    "soon",
                    "early access",
                    "coming soon",
                    "When it's done!",
                    "When it is ready",
                    "When it is finished",
                    "To be Announced",
                    "To Be Announced",
                    "TBD",
                    "TBA",
                    "Soon™",
                    "Soon",
                    "SOON™",
                    "SOON",
                    "Release Date TBA",
                    "Not yet available",
                    "Early Access soon",
                    "Early Access Starting Soon!",
                    "Demo coming soon.",
                    "Coming soon..",
                    "Coming soon",
                    "Coming Soon/Próximamente",
                    "Coming Soon",
                    "Beta测试已开启", #Las pruebas beta están en marcha
                    "Play Beta in demo!"
                    ], 'NoData', inplace=True)

In [57]:
#promedio a mitad de año

df_games.replace(['Winter 2017',
                "When it's done (2017)",
                "TBA 2017",
                "Summer 2017",
                "Q4 2017"
                "Hitting Early Access in 2017",
                "Fall 2017",
                "End 2017",
                "Early 2017",
                "December 2017",
                "Dec 2017",
                "Apr 2017",
                "Hitting Early Access in 2017"], '2017-07-07', inplace=True)

In [58]:
df_games.replace(["Spring 2018",
                  "Q1 2018",
                  "Mar 2018",
                  "First quarter of 2018",
                  "August 2018",
                  "2018年初頭発売予定",
                "2018年1月",
                "2018",
                "15.01.2018"], '2018-07-01', inplace=True)

In [59]:
df_games.replace(["Sep 2014",
                  "Nov 2014",
                  "May 2014",
                  "Jul 2014",
                  "Aug 2014",], ["2014-09-01", "2014-11-01", "2014-05-01", "2014-07-01", "2014-08-01"],  inplace=True)

df_games.replace(["Sep 2009",
                  "Oct 2009",
                  "Jun 2009"], ["2009-09-01", "2009-10-01", "2009-06-01"],  inplace=True)

df_games.replace(["Oct 2016",
                  "Nov 2016",
                  "Jun 2016",
                  "Jul 2016",
                  "Apr 2016"], ["2016-10-01", "2016-11-01", "2016-06-01", "2016-07-01", "2016-04-01"],  inplace=True)

df_games.replace(["Apr 2015",
                  "Aug 2015",
                  "Dec 2012",
                  "Early 2018",
                  "Q4 2017",
                  "Oct 2010",
                  "Nov 2017",
                    "May 2015",
                    "Mar 2010",
                    "Jun 2015",
                    "Jul 2017",
                    "Jul 2010",
                    "January 2019",
                    "Jan 2017",
                    "Jan 2015",
                    "Jan 2010",
                    "Feb 2015",
                    "Feb 2013",
                    "Feb 2011"], ["2015-04-01", "2015-08-01", "2012-12-01", "2018-02-01","2017-10-01","2010-10-01","2017-10-01","2015-05-01",
                                  "2010-03-01", "2015-06-01", "2017-07-01","2010-07-01", "2019-01-01", "2017-01-01", "2015-01-01", "2010-01-01","2015-02-01","2013-02-01","2011-02-01"],  inplace=True)

In [60]:
df_games.replace(["2017 Q4",
                    "2017 Q1",
                    "2017",
                    "2016",
                    "1st Quarter 2018"], ["2017-10-01", "2017-02-01", "2017-01-01","2016-01-01","2018-03-01"],  inplace=True)

In [61]:
list = pd.unique(df_games['release_date'])

lista = sorted(list, reverse=True)

for i in lista:
    print(i)

NoData
2021-12-31
2019-12-10
2019-01-01
2018-12-31
2018-12-20
2018-12-01
2018-09-25
2018-09-17
2018-09-10
2018-08-22
2018-08-06
2018-07-01
2018-06-30
2018-03-30
2018-03-22
2018-03-14
2018-03-08
2018-03-01
2018-02-28
2018-02-08
2018-02-02
2018-01-31
2018-01-15
2018-01-04
2018-01-03
2018-01-02
2018-01-01
2017-12-31
2017-12-30
2017-12-29
2017-12-28
2017-12-27
2017-12-26
2017-12-25
2017-12-24
2017-12-23
2017-12-22
2017-12-21
2017-12-20
2017-12-19
2017-12-18
2017-12-17
2017-12-16
2017-12-15
2017-12-14
2017-12-13
2017-12-12
2017-12-11
2017-12-10
2017-12-09
2017-12-08
2017-12-07
2017-12-06
2017-12-05
2017-12-04
2017-12-03
2017-12-02
2017-12-01
2017-11-30
2017-11-29
2017-11-28
2017-11-27
2017-11-26
2017-11-25
2017-11-24
2017-11-23
2017-11-22
2017-11-21
2017-11-20
2017-11-19
2017-11-18
2017-11-17
2017-11-16
2017-11-15
2017-11-14
2017-11-13
2017-11-12
2017-11-11
2017-11-10
2017-11-09
2017-11-08
2017-11-07
2017-11-06
2017-11-05
2017-11-04
2017-11-03
2017-11-02
2017-11-01
2017-10-31
2017-10-30
2017-10-29
2017-10-28
2017-10-27
2017-10-26
2017-10-25
2017-10-24
2017-10-23
2017-10-22
2017-10-21
2017-10-20
2017-10-19
2017-10-18
2017-10-17
2017-10-16
2017-10-15
2017-10-14
2017-10-13
2017-10-12
2017-10-11
2017-10-10
2017-10-09
2017-10-07
2017-10-06
2017-10-05
2017-10-04
2017-10-03
2017-10-02
2017-10-01
2017-09-30
2017-09-29
2017-09-28
2017-09-27
2017-09-26
2017-09-25
2017-09-24
2017-09-23
2017-09-22
2017-09-21
2017-09-20
2017-09-19
2017-09-18
2017-09-17
2017-09-16
2017-09-15
2017-09-14
2017-09-13
2017-09-12
2017-09-11
2017-09-10
2017-09-09
2017-09-08
2017-09-07
2017-09-06
2017-09-05
2017-09-04
2017-09-03
2017-09-02
2017-09-01
2017-08-31
2017-08-30
2017-08-29
2017-08-28
2017-08-27
2017-08-26
2017-08-25
2017-08-24
2017-08-23
2017-08-22
2017-08-21
2017-08-20
2017-08-19
2017-08-18
2017-08-17
2017-08-16
2017-08-15
2017-08-14
2017-08-13
2017-08-12
2017-08-11
2017-08-10
2017-08-09
2017-08-08
2017-08-07
2017-08-06
2017-08-05
2017-08-04
2017-08-03
2017-08-02
2017-08-01
2017-07-31
2017-07-30
2017-07-29
2017-07-28
2017-07-27
2017-07-26
2017-07-25
2017-07-24
2017-07-23
2017-07-22
2017-07-21
2017-07-20
2017-07-19
2017-07-18
2017-07-17
2017-07-16
2017-07-15
2017-07-14
2017-07-13
2017-07-12
2017-07-11
2017-07-10
2017-07-09
2017-07-08
2017-07-07
2017-07-06
2017-07-05
2017-07-04
2017-07-03
2017-07-02
2017-07-01
2017-06-30
2017-06-29
2017-06-28
2017-06-27
2017-06-26
2017-06-25
2017-06-24
2017-06-23
2017-06-22
2017-06-21
2017-06-20
2017-06-19
2017-06-18
2017-06-17
2017-06-16
2017-06-15
2017-06-14
2017-06-13
2017-06-12
2017-06-11
2017-06-10
2017-06-09
2017-06-08
2017-06-07
2017-06-06
2017-06-05
2017-06-04
2017-06-03
2017-06-02
2017-06-01
2017-05-31
2017-05-30
2017-05-29
2017-05-28
2017-05-27
2017-05-26
2017-05-25
2017-05-24
2017-05-23
2017-05-22
2017-05-21
2017-05-20
2017-05-19
2017-05-18
2017-05-17
2017-05-16
2017-05-15
2017-05-14
2017-05-12
2017-05-11
2017-05-10
2017-05-09
2017-05-08
2017-05-07
2017-05-05
2017-05-04
2017-05-03
2017-05-02
2017-05-01
2017-04-30
2017-04-29
2017-04-28
2017-04-27
2017-04-26
2017-04-25
2017-04-24
2017-04-23
2017-04-22
2017-04-21
2017-04-20
2017-04-19
2017-04-18
2017-04-17
2017-04-15
2017-04-14
2017-04-13
2017-04-12
2017-04-11
2017-04-10
2017-04-09
2017-04-08
2017-04-07
2017-04-06
2017-04-05
2017-04-04
2017-04-03
2017-04-02
2017-04-01
2017-03-31
2017-03-30
2017-03-29
2017-03-28
2017-03-27
2017-03-25
2017-03-24
2017-03-23
2017-03-22
2017-03-21
2017-03-20
2017-03-19
2017-03-18
2017-03-17
2017-03-16
2017-03-15
2017-03-14
2017-03-13
2017-03-11
2017-03-10
2017-03-09
2017-03-08
2017-03-07
2017-03-06
2017-03-03
2017-03-02
2017-03-01
2017-02-28
2017-02-27
2017-02-26
2017-02-25
2017-02-24
2017-02-23
2017-02-22
2017-02-21
2017-02-20
2017-02-19
2017-02-18
2017-02-17
2017-02-16
2017-02-15
2017-02-14
2017-02-13
2017-02-11
2017-02-10
2017-02-09
2017-02-08
2017-02-07
2017-02-06
2017-02-05
2017-02-04
2017-02-03
2017-02-02
2017-02-01
2017-01-31
2017-01-30
2017-01-29
2017-01-28
2017-01-27
2017-01-26
2017-01-25
2017-01-24
2017-01-23
2017-01-22
2017-01-21
2017-01-20
2017-01-19
2017-01-18
2017-01-17
2017-01-16
2017-01-15
2017-01-14
2017-01-13
2017-01-12
2017-01-11
2017-01-10
2017-01-09
2017-01-08
2017-01-07
2017-01-06
2017-01-05
2017-01-04
2017-01-03
2017-01-02
2017-01-01
2016-12-31
2016-12-30
2016-12-29
2016-12-28
2016-12-27
2016-12-26
2016-12-25
2016-12-24
2016-12-23
2016-12-22
2016-12-21
2016-12-20
2016-12-19
2016-12-18
2016-12-17
2016-12-16
2016-12-15
2016-12-14
2016-12-13
2016-12-12
2016-12-11
2016-12-10
2016-12-09
2016-12-08
2016-12-07
2016-12-06
2016-12-05
2016-12-04
2016-12-02
2016-12-01
2016-11-30
2016-11-29
2016-11-28
2016-11-25
2016-11-24
2016-11-23
2016-11-22
2016-11-21
2016-11-20
2016-11-19
2016-11-18
2016-11-17
2016-11-16
2016-11-15
2016-11-14
2016-11-13
2016-11-12
2016-11-11
2016-11-10
2016-11-09
2016-11-08
2016-11-07
2016-11-06
2016-11-05
2016-11-04
2016-11-03
2016-11-02
2016-11-01
2016-10-31
2016-10-30
2016-10-29
2016-10-28
2016-10-27
2016-10-26
2016-10-25
2016-10-24
2016-10-23
2016-10-22
2016-10-21
2016-10-20
2016-10-19
2016-10-18
2016-10-17
2016-10-16
2016-10-15
2016-10-14
2016-10-13
2016-10-12
2016-10-11
2016-10-10
2016-10-08
2016-10-07
2016-10-06
2016-10-05
2016-10-04
2016-10-03
2016-10-02
2016-10-01
2016-09-30
2016-09-29
2016-09-28
2016-09-27
2016-09-26
2016-09-25
2016-09-24
2016-09-23
2016-09-22
2016-09-21
2016-09-20
2016-09-19
2016-09-17
2016-09-16
2016-09-15
2016-09-14
2016-09-13
2016-09-12
2016-09-11
2016-09-10
2016-09-09
2016-09-08
2016-09-07
2016-09-06
2016-09-05
2016-09-04
2016-09-03
2016-09-02
2016-09-01
2016-08-31
2016-08-30
2016-08-29
2016-08-28
2016-08-27
2016-08-26
2016-08-25
2016-08-24
2016-08-23
2016-08-22
2016-08-21
2016-08-20
2016-08-19
2016-08-18
2016-08-17
2016-08-16
2016-08-15
2016-08-14
2016-08-13
2016-08-12
2016-08-11
2016-08-10
2016-08-09
2016-08-08
2016-08-07
2016-08-06
2016-08-05
2016-08-04
2016-08-03
2016-08-02
2016-08-01
2016-07-31
2016-07-30
2016-07-29
2016-07-28
2016-07-27
2016-07-26
2016-07-25
2016-07-24
2016-07-22
2016-07-21
2016-07-20
2016-07-19
2016-07-18
2016-07-17
2016-07-16
2016-07-15
2016-07-14
2016-07-13
2016-07-12
2016-07-11
2016-07-10
2016-07-09
2016-07-08
2016-07-07
2016-07-06
2016-07-05
2016-07-04
2016-07-02
2016-07-01
2016-06-30
2016-06-29
2016-06-28
2016-06-27
2016-06-26
2016-06-25
2016-06-24
2016-06-23
2016-06-22
2016-06-21
2016-06-20
2016-06-19
2016-06-18
2016-06-17
2016-06-16
2016-06-15
2016-06-14
2016-06-13
2016-06-12
2016-06-11
2016-06-10
2016-06-09
2016-06-08
2016-06-07
2016-06-06
2016-06-05
2016-06-04
2016-06-03
2016-06-02
2016-06-01
2016-05-31
2016-05-30
2016-05-29
2016-05-28
2016-05-27
2016-05-26
2016-05-25
2016-05-24
2016-05-23
2016-05-22
2016-05-21
2016-05-20
2016-05-19
2016-05-18
2016-05-17
2016-05-16
2016-05-14
2016-05-13
2016-05-12
2016-05-11
2016-05-10
2016-05-09
2016-05-07
2016-05-06
2016-05-05
2016-05-04
2016-05-03
2016-05-02
2016-05-01
2016-04-30
2016-04-29
2016-04-28
2016-04-27
2016-04-26
2016-04-25
2016-04-24
2016-04-23
2016-04-22
2016-04-21
2016-04-20
2016-04-19
2016-04-18
2016-04-17
2016-04-16
2016-04-15
2016-04-14
2016-04-13
2016-04-12
2016-04-11
2016-04-10
2016-04-09
2016-04-08
2016-04-07
2016-04-06
2016-04-05
2016-04-04
2016-04-03
2016-04-02
2016-04-01
2016-03-31
2016-03-30
2016-03-29
2016-03-28
2016-03-27
2016-03-25
2016-03-24
2016-03-23
2016-03-22
2016-03-21
2016-03-20
2016-03-19
2016-03-18
2016-03-17
2016-03-16
2016-03-15
2016-03-14
2016-03-13
2016-03-12
2016-03-11
2016-03-10
2016-03-09
2016-03-08
2016-03-07
2016-03-06
2016-03-04
2016-03-03
2016-03-02
2016-03-01
2016-02-29
2016-02-28
2016-02-27
2016-02-26
2016-02-25
2016-02-24
2016-02-23
2016-02-22
2016-02-20
2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15
2016-02-12
2016-02-11
2016-02-10
2016-02-09
2016-02-08
2016-02-07
2016-02-05
2016-02-04
2016-02-03
2016-02-02
2016-02-01
2016-01-31
2016-01-29
2016-01-28
2016-01-27
2016-01-26
2016-01-25
2016-01-23
2016-01-22
2016-01-21
2016-01-20
2016-01-19
2016-01-18
2016-01-15
2016-01-14
2016-01-13
2016-01-12
2016-01-11
2016-01-09
2016-01-08
2016-01-07
2016-01-06
2016-01-05
2016-01-04
2016-01-03
2016-01-02
2016-01-01
2015-12-31
2015-12-30
2015-12-29
2015-12-28
2015-12-25
2015-12-24
2015-12-23
2015-12-22
2015-12-21
2015-12-18
2015-12-17
2015-12-16
2015-12-15
2015-12-14
2015-12-11
2015-12-10
2015-12-09
2015-12-08
2015-12-07
2015-12-05
2015-12-04
2015-12-03
2015-12-02
2015-12-01
2015-11-30
2015-11-29
2015-11-28
2015-11-27
2015-11-26
2015-11-25
2015-11-24
2015-11-23
2015-11-22
2015-11-20
2015-11-19
2015-11-18
2015-11-17
2015-11-16
2015-11-15
2015-11-14
2015-11-13
2015-11-12
2015-11-11
2015-11-10
2015-11-09
2015-11-06
2015-11-05
2015-11-04
2015-11-03
2015-11-02
2015-11-01
2015-10-31
2015-10-30
2015-10-29
2015-10-28
2015-10-27
2015-10-26
2015-10-24
2015-10-23
2015-10-22
2015-10-21
2015-10-20
2015-10-19
2015-10-18
2015-10-17
2015-10-16
2015-10-15
2015-10-14
2015-10-13
2015-10-12
2015-10-09
2015-10-08
2015-10-07
2015-10-06
2015-10-05
2015-10-04
2015-10-02
2015-10-01
2015-09-30
2015-09-29
2015-09-28
2015-09-27
2015-09-25
2015-09-24
2015-09-23
2015-09-22
2015-09-21
2015-09-20
2015-09-19
2015-09-18
2015-09-17
2015-09-16
2015-09-15
2015-09-14
2015-09-11
2015-09-10
2015-09-09
2015-09-08
2015-09-07
2015-09-06
2015-09-05
2015-09-04
2015-09-03
2015-09-02
2015-09-01
2015-08-31
2015-08-29
2015-08-28
2015-08-27
2015-08-26
2015-08-25
2015-08-24
2015-08-21
2015-08-20
2015-08-19
2015-08-18
2015-08-17
2015-08-16
2015-08-15
2015-08-14
2015-08-13
2015-08-12
2015-08-11
2015-08-10
2015-08-07
2015-08-06
2015-08-05
2015-08-04
2015-08-03
2015-08-01
2015-07-31
2015-07-30
2015-07-29
2015-07-28
2015-07-27
2015-07-24
2015-07-23
2015-07-22
2015-07-21
2015-07-20
2015-07-17
2015-07-16
2015-07-15
2015-07-14
2015-07-13
2015-07-10
2015-07-09
2015-07-08
2015-07-07
2015-07-06
2015-07-04
2015-07-03
2015-07-02
2015-07-01
2015-06-30
2015-06-29
2015-06-28
2015-06-27
2015-06-26
2015-06-25
2015-06-24
2015-06-23
2015-06-22
2015-06-19
2015-06-18
2015-06-17
2015-06-16
2015-06-15
2015-06-12
2015-06-11
2015-06-10
2015-06-09
2015-06-08
2015-06-07
2015-06-06
2015-06-05
2015-06-04
2015-06-03
2015-06-02
2015-06-01
2015-05-31
2015-05-30
2015-05-29
2015-05-28
2015-05-27
2015-05-26
2015-05-25
2015-05-23
2015-05-22
2015-05-21
2015-05-20
2015-05-19
2015-05-18
2015-05-15
2015-05-14
2015-05-13
2015-05-12
2015-05-11
2015-05-09
2015-05-08
2015-05-07
2015-05-06
2015-05-05
2015-05-04
2015-05-02
2015-05-01
2015-04-30
2015-04-29
2015-04-28
2015-04-27
2015-04-26
2015-04-25
2015-04-24
2015-04-23
2015-04-22
2015-04-21
2015-04-20
2015-04-19
2015-04-17
2015-04-16
2015-04-15
2015-04-14
2015-04-13
2015-04-11
2015-04-10
2015-04-09
2015-04-08
2015-04-07
2015-04-06
2015-04-03
2015-04-02
2015-04-01
2015-03-31
2015-03-30
2015-03-27
2015-03-26
2015-03-25
2015-03-24
2015-03-23
2015-03-20
2015-03-19
2015-03-18
2015-03-17
2015-03-16
2015-03-15
2015-03-14
2015-03-13
2015-03-12
2015-03-11
2015-03-10
2015-03-09
2015-03-08
2015-03-06
2015-03-05
2015-03-04
2015-03-03
2015-03-02
2015-03-01
2015-02-27
2015-02-26
2015-02-25
2015-02-24
2015-02-23
2015-02-21
2015-02-20
2015-02-19
2015-02-18
2015-02-17
2015-02-16
2015-02-15
2015-02-13
2015-02-12
2015-02-11
2015-02-10
2015-02-09
2015-02-06
2015-02-05
2015-02-04
2015-02-03
2015-02-02
2015-02-01
2015-01-31
2015-01-30
2015-01-29
2015-01-28
2015-01-27
2015-01-26
2015-01-25
2015-01-23
2015-01-22
2015-01-21
2015-01-20
2015-01-19
2015-01-18
2015-01-17
2015-01-16
2015-01-15
2015-01-14
2015-01-13
2015-01-12
2015-01-11
2015-01-09
2015-01-08
2015-01-07
2015-01-06
2015-01-05
2015-01-02
2015-01-01
2014-12-31
2014-12-30
2014-12-29
2014-12-27
2014-12-25
2014-12-24
2014-12-23
2014-12-22
2014-12-19
2014-12-18
2014-12-17
2014-12-16
2014-12-15
2014-12-14
2014-12-13
2014-12-12
2014-12-11
2014-12-10
2014-12-09
2014-12-08
2014-12-06
2014-12-05
2014-12-04
2014-12-03
2014-12-02
2014-12-01
2014-11-29
2014-11-28
2014-11-27
2014-11-26
2014-11-25
2014-11-24
2014-11-22
2014-11-21
2014-11-20
2014-11-19
2014-11-18
2014-11-17
2014-11-16
2014-11-15
2014-11-14
2014-11-13
2014-11-12
2014-11-11
2014-11-10
2014-11-07
2014-11-06
2014-11-05
2014-11-04
2014-11-03
2014-11-01
2014-10-31
2014-10-30
2014-10-29
2014-10-28
2014-10-27
2014-10-24
2014-10-23
2014-10-22
2014-10-21
2014-10-20
2014-10-19
2014-10-18
2014-10-17
2014-10-16
2014-10-15
2014-10-14
2014-10-13
2014-10-10
2014-10-09
2014-10-08
2014-10-07
2014-10-06
2014-10-03
2014-10-02
2014-10-01
2014-09-30
2014-09-29
2014-09-27
2014-09-26
2014-09-25
2014-09-24
2014-09-23
2014-09-22
2014-09-19
2014-09-18
2014-09-17
2014-09-16
2014-09-15
2014-09-12
2014-09-11
2014-09-10
2014-09-09
2014-09-08
2014-09-05
2014-09-04
2014-09-03
2014-09-02
2014-09-01
2014-08-30
2014-08-29
2014-08-28
2014-08-27
2014-08-26
2014-08-25
2014-08-24
2014-08-22
2014-08-21
2014-08-20
2014-08-19
2014-08-18
2014-08-16
2014-08-15
2014-08-14
2014-08-13
2014-08-12
2014-08-11
2014-08-10
2014-08-08
2014-08-07
2014-08-06
2014-08-05
2014-08-04
2014-08-02
2014-08-01
2014-07-31
2014-07-30
2014-07-29
2014-07-28
2014-07-25
2014-07-24
2014-07-23
2014-07-22
2014-07-21
2014-07-18
2014-07-17
2014-07-16
2014-07-15
2014-07-14
2014-07-13
2014-07-12
2014-07-11
2014-07-10
2014-07-09
2014-07-08
2014-07-07
2014-07-05
2014-07-04
2014-07-03
2014-07-02
2014-07-01
2014-06-30
2014-06-27
2014-06-26
2014-06-25
2014-06-24
2014-06-23
2014-06-20
2014-06-19
2014-06-18
2014-06-17
2014-06-16
2014-06-13
2014-06-12
2014-06-11
2014-06-10
2014-06-09
2014-06-08
2014-06-07
2014-06-06
2014-06-05
2014-06-04
2014-06-03
2014-06-01
2014-05-31
2014-05-30
2014-05-29
2014-05-28
2014-05-27
2014-05-26
2014-05-25
2014-05-23
2014-05-22
2014-05-21
2014-05-20
2014-05-19
2014-05-18
2014-05-16
2014-05-15
2014-05-14
2014-05-13
2014-05-12
2014-05-09
2014-05-08
2014-05-07
2014-05-06
2014-05-05
2014-05-04
2014-05-02
2014-05-01
2014-04-30
2014-04-29
2014-04-28
2014-04-25
2014-04-24
2014-04-23
2014-04-22
2014-04-19
2014-04-18
2014-04-17
2014-04-16
2014-04-15
2014-04-14
2014-04-11
2014-04-10
2014-04-09
2014-04-08
2014-04-07
2014-04-04
2014-04-03
2014-04-02
2014-04-01
2014-03-29
2014-03-28
2014-03-27
2014-03-26
2014-03-25
2014-03-24
2014-03-21
2014-03-20
2014-03-19
2014-03-18
2014-03-17
2014-03-16
2014-03-15
2014-03-14
2014-03-13
2014-03-12
2014-03-11
2014-03-10
2014-03-08
2014-03-07
2014-03-06
2014-03-05
2014-03-04
2014-03-03
2014-02-28
2014-02-27
2014-02-26
2014-02-25
2014-02-24
2014-02-22
2014-02-21
2014-02-20
2014-02-19
2014-02-18
2014-02-17
2014-02-15
2014-02-14
2014-02-13
2014-02-12
2014-02-11
2014-02-08
2014-02-07
2014-02-06
2014-02-05
2014-02-04
2014-02-03
2014-02-01
2014-01-31
2014-01-30
2014-01-29
2014-01-28
2014-01-27
2014-01-26
2014-01-25
2014-01-24
2014-01-23
2014-01-22
2014-01-21
2014-01-20
2014-01-17
2014-01-16
2014-01-15
2014-01-14
2014-01-13
2014-01-10
2014-01-09
2014-01-08
2014-01-07
2014-01-06
2014-01-03
2014-01-01
2013-12-27
2013-12-20
2013-12-19
2013-12-18
2013-12-17
2013-12-16
2013-12-13
2013-12-12
2013-12-11
2013-12-10
2013-12-09
2013-12-08
2013-12-06
2013-12-05
2013-12-04
2013-12-03
2013-12-02
2013-12-01
2013-11-29
2013-11-28
2013-11-27
2013-11-26
2013-11-25
2013-11-22
2013-11-21
2013-11-20
2013-11-19
2013-11-18
2013-11-15
2013-11-14
2013-11-13
2013-11-12
2013-11-11
2013-11-10
2013-11-08
2013-11-07
2013-11-06
2013-11-05
2013-11-04
2013-11-01
2013-10-31
2013-10-30
2013-10-29
2013-10-28
2013-10-27
2013-10-25
2013-10-24
2013-10-23
2013-10-22
2013-10-21
2013-10-18
2013-10-17
2013-10-16
2013-10-15
2013-10-14
2013-10-11
2013-10-10
2013-10-09
2013-10-08
2013-10-07
2013-10-04
2013-10-03
2013-10-02
2013-10-01
2013-09-30
2013-09-28
2013-09-27
2013-09-26
2013-09-25
2013-09-24
2013-09-23
2013-09-20
2013-09-19
2013-09-18
2013-09-17
2013-09-16
2013-09-13
2013-09-12
2013-09-11
2013-09-10
2013-09-09
2013-09-08
2013-09-07
2013-09-06
2013-09-05
2013-09-04
2013-09-03
2013-09-02
2013-09-01
2013-08-29
2013-08-28
2013-08-27
2013-08-26
2013-08-24
2013-08-23
2013-08-22
2013-08-21
2013-08-20
2013-08-19
2013-08-18
2013-08-17
2013-08-16
2013-08-15
2013-08-14
2013-08-13
2013-08-12
2013-08-09
2013-08-08
2013-08-07
2013-08-06
2013-08-05
2013-08-02
2013-08-01
2013-07-31
2013-07-30
2013-07-29
2013-07-26
2013-07-25
2013-07-24
2013-07-23
2013-07-20
2013-07-18
2013-07-16
2013-07-14
2013-07-12
2013-07-11
2013-07-09
2013-07-08
2013-07-07
2013-07-04
2013-07-03
2013-07-02
2013-07-01
2013-06-28
2013-06-27
2013-06-26
2013-06-25
2013-06-24
2013-06-21
2013-06-20
2013-06-18
2013-06-17
2013-06-16
2013-06-13
2013-06-12
2013-06-11
2013-06-10
2013-06-07
2013-06-06
2013-06-05
2013-06-04
2013-06-03
2013-06-01
2013-05-31
2013-05-30
2013-05-29
2013-05-28
2013-05-27
2013-05-24
2013-05-23
2013-05-22
2013-05-21
2013-05-20
2013-05-17
2013-05-16
2013-05-15
2013-05-14
2013-05-13
2013-05-10
2013-05-09
2013-05-08
2013-05-07
2013-05-06
2013-05-03
2013-05-02
2013-05-01
2013-04-30
2013-04-29
2013-04-28
2013-04-26
2013-04-25
2013-04-24
2013-04-23
2013-04-22
2013-04-19
2013-04-18
2013-04-17
2013-04-16
2013-04-15
2013-04-12
2013-04-11
2013-04-10
2013-04-09
2013-04-08
2013-04-07
2013-04-06
2013-04-05
2013-04-04
2013-04-03
2013-04-02
2013-04-01
2013-03-30
2013-03-29
2013-03-28
2013-03-26
2013-03-25
2013-03-23
2013-03-22
2013-03-21
2013-03-20
2013-03-19
2013-03-18
2013-03-16
2013-03-15
2013-03-14
2013-03-13
2013-03-12
2013-03-11
2013-03-10
2013-03-09
2013-03-08
2013-03-07
2013-03-05
2013-03-04
2013-03-02
2013-03-01
2013-02-28
2013-02-27
2013-02-26
2013-02-25
2013-02-22
2013-02-21
2013-02-20
2013-02-19
2013-02-18
2013-02-15
2013-02-14
2013-02-13
2013-02-12
2013-02-11
2013-02-10
2013-02-08
2013-02-07
2013-02-06
2013-02-05
2013-02-01
2013-01-31
2013-01-30
2013-01-29
2013-01-28
2013-01-25
2013-01-24
2013-01-23
2013-01-22
2013-01-21
2013-01-18
2013-01-17
2013-01-16
2013-01-15
2013-01-14
2013-01-13
2013-01-12
2013-01-11
2013-01-10
2013-01-09
2013-01-08
2013-01-07
2013-01-04
2013-01-01
2012-12-31
2012-12-21
2012-12-20
2012-12-19
2012-12-18
2012-12-17
2012-12-13
2012-12-12
2012-12-11
2012-12-10
2012-12-07
2012-12-06
2012-12-05
2012-12-04
2012-12-03
2012-12-01
2012-11-30
2012-11-29
2012-11-28
2012-11-27
2012-11-23
2012-11-21
2012-11-20
2012-11-19
2012-11-18
2012-11-15
2012-11-14
2012-11-13
2012-11-12
2012-11-09
2012-11-08
2012-11-07
2012-11-06
2012-11-02
2012-11-01
2012-10-31
2012-10-30
2012-10-29
2012-10-28
2012-10-26
2012-10-25
2012-10-24
2012-10-23
2012-10-22
2012-10-20
2012-10-19
2012-10-18
2012-10-17
2012-10-16
2012-10-15
2012-10-12
2012-10-11
2012-10-10
2012-10-09
2012-10-08
2012-10-06
2012-10-05
2012-10-04
2012-10-03
2012-10-02
2012-10-01
2012-09-29
2012-09-28
2012-09-27
2012-09-26
2012-09-25
2012-09-24
2012-09-22
2012-09-21
2012-09-20
2012-09-19
2012-09-18
2012-09-17
2012-09-14
2012-09-13
2012-09-12
2012-09-11
2012-09-10
2012-09-07
2012-09-06
2012-09-05
2012-09-04
2012-09-03
2012-09-01
2012-08-31
2012-08-30
2012-08-29
2012-08-28
2012-08-27
2012-08-24
2012-08-23
2012-08-22
2012-08-21
2012-08-20
2012-08-17
2012-08-16
2012-08-15
2012-08-14
2012-08-13
2012-08-11
2012-08-10
2012-08-09
2012-08-08
2012-08-07
2012-08-06
2012-08-04
2012-08-03
2012-08-02
2012-08-01
2012-07-31
2012-07-30
2012-07-28
2012-07-27
2012-07-26
2012-07-25
2012-07-24
2012-07-23
2012-07-20
2012-07-19
2012-07-16
2012-07-13
2012-07-12
2012-07-11
2012-07-10
2012-07-09
2012-07-06
2012-07-05
2012-07-04
2012-07-03
2012-07-02
2012-07-01
2012-06-30
2012-06-27
2012-06-26
2012-06-25
2012-06-23
2012-06-22
2012-06-21
2012-06-20
2012-06-19
2012-06-18
2012-06-14
2012-06-13
2012-06-12
2012-06-10
2012-06-08
2012-06-07
2012-06-06
2012-06-05
2012-06-04
2012-06-01
2012-05-31
2012-05-30
2012-05-29
2012-05-28
2012-05-25
2012-05-24
2012-05-23
2012-05-22
2012-05-18
2012-05-17
2012-05-16
2012-05-15
2012-05-14
2012-05-12
2012-05-11
2012-05-10
2012-05-08
2012-05-07
2012-05-06
2012-05-04
2012-05-03
2012-05-02
2012-05-01
2012-04-30
2012-04-29
2012-04-27
2012-04-26
2012-04-25
2012-04-24
2012-04-23
2012-04-20
2012-04-19
2012-04-18
2012-04-17
2012-04-16
2012-04-13
2012-04-12
2012-04-11
2012-04-10
2012-04-09
2012-04-06
2012-04-05
2012-04-04
2012-04-02
2012-04-01
2012-03-30
2012-03-29
2012-03-28
2012-03-26
2012-03-23
2012-03-22
2012-03-21
2012-03-20
2012-03-19
2012-03-16
2012-03-15
2012-03-14
2012-03-11
2012-03-09
2012-03-08
2012-03-06
2012-03-02
2012-03-01
2012-02-29
2012-02-28
2012-02-27
2012-02-24

In [72]:
#normalizo el nombre para que sea el mismo en todas las tablas
df_games.rename(columns={'id' : "item_id"}, inplace=True)

In [62]:
#exporto mi dataset totalmente limpio y normalizado y asi poder usarlo para trabajar 

df_games.to_csv('df_games_clean.csv', index=False)

### user_reviews

In [103]:
import pandas as pd
import nltk
import numpy as np
from datetime import datetime


nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('vader_lexicon')


def missing_values_table(df):
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns


df_reviews = pd.read_csv("data\df_reviews.csv")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\gasto\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\gasto\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\gasto\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gasto\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [104]:
df_reviews

,Unnamed: 0,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...
1,1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.
2,2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...,...,...
59328,59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 10.,NaN,70.0,No ratings yet,True,a must have classic from steam definitely wort...
59329,59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,Posted July 8.,NaN,362890.0,No ratings yet,True,this game is a perfect remake of the original ...
59330,59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,NaN,273110.0,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59331,59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 20.,NaN,730.0,No ratings yet,True,:D
59332,59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,Posted July 2.,NaN,440.0,No ratings yet,True,so much fun :D

In [105]:
missing_values_table(df_reviews)

Your selected dataframe has 10 columns.
There are 7 columns that have missing values.

             Missing Values  % of Total Values
last_edited           53193               89.7
funny                 51182               86.3
review                   58                0.1
posted                   28                0.0
item_id                  28                0.0
helpful                  28                0.0
recommend                28                0.0

In [106]:
#rellenamos los valores nulos en la columna 'review' con el string "neutral" para poder tratarlo.

df_reviews['review'] = df_reviews['review'].fillna('neutral')

In [107]:
#testeamos
ejemplo = df_reviews['review'][8526]
print(ejemplo)

99% of n user reviews for this game are positive.It was the first thought when I bought this game, and I have no regrets.Longer Version (Playtime of the game itself):I would still recommend this game even how it's not all filled with features and such. Probably when it gets released from early access, it will be much more fun to play.SPOILERS AHEAD!At first, it starts out bland, but then you start to automate for ores and turn it into plates, where plates are used to create tools. After manually researching, you decide you should automate Science. (At this point let's say we have electricity) After auto research, a biter attack happens. You only have a gun to protect yourself as a gun turret is still being built. You then defend your base, and automate more science. 10-30 hours later, you are already building a rocket silo, where you finish the game. You then decide to install mods, where you go all over again with a new experience. It never ends.In a nutshell, words cannot express how much this game is fun.Originally posted by Holy_Sinner:I used to have a family. Now I have a factory.10/10 ruined my life

#### MODELO VADER PARA ANALIZAR SENTIMIENTOS


Este modelo de analisis de sentimientos es muy efectivo para utilizar cuando no tenemos etiquetas en las que basarnos, nos va a devolver una tabla por cada valor texto analizado diciendonos en que medida el texto literal es interpretado como negativo, neutro, o positivo. Tambien nos devuelve un indice que va de -1 para negativo a 1 para positivo, donde el 0 marca la neutralidad absoluta.

In [108]:
from nltk.sentiment import SentimentIntensityAnalyzer
from tqdm.notebook import tqdm

sia = SentimentIntensityAnalyzer()

In [109]:
# testeando algunas oraciones
print(sia.polarity_scores("My name is Gaston and i am tryng to make a sentiment analyzer with python. it is fun!"))

print(sia.polarity_scores("I am so happy!"))

print(sia.polarity_scores("Ordered a waffle to find a fingernail and a hair on my food, absolutely shocking customer sevice as i was told O would have to wait another hour to get a fresh one. I asked for a refund but never received one wouldn't send my worst enemy here"))

print(sia.polarity_scores("great game, Steam please give it to me but anyways so fun with firends or without it and steam plz gift it to me i really want it because its such a good game overall 100/10 i rate it because its so amazing"))

print(sia.polarity_scores("neutral"))

{'neg': 0.0, 'neu': 0.807, 'pos': 0.193, 'compound': 0.5562}
{'neg': 0.0, 'neu': 0.318, 'pos': 0.682, 'compound': 0.6468}
{'neg': 0.138, 'neu': 0.737, 'pos': 0.125, 'compound': -0.1669}
{'neg': 0.0, 'neu': 0.534, 'pos': 0.466, 'compound': 0.9816}
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [110]:
#aplicamos el modelos
res = {}

for i, row in tqdm(df_reviews.iterrows(), total=len(df_reviews)):
    text = row['review']
    myid = row['Unnamed: 0']
    res[myid] = sia.polarity_scores(text)

  0%|          | 0/59333 [00:00<?, ?it/s]

In [111]:
sent = pd.DataFrame(res).T

sent

         neg    neu    pos  compound
0      0.077  0.681  0.242    0.8481
1      0.000  0.678  0.322    0.2263
2      0.000  0.704  0.296    0.9117
3      0.066  0.721  0.213    0.9566
4      0.041  0.768  0.191    0.9708
...      ...    ...    ...       ...
59328  0.000  0.566  0.434    0.5574
59329  0.026  0.692  0.282    0.9786
59330  0.141  0.502  0.357    0.7827
59331  0.000  0.000  1.000    0.5106
59332  0.000  0.203  0.797    0.8349

[59333 rows x 4 columns]

In [112]:
df_reviews = df_reviews.merge(sent['compound'], left_index=True, right_index=True)

In [113]:
#mergeamos las dos tablas, el coumpound es el valos que nos interesa de los 4 que nos da el modelo
df_reviews.head()

,Unnamed: 0,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,compound
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted November 5, 2011.",NaN,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,0.8481
1,1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted July 15, 2011.",NaN,22200.0,No ratings yet,True,It's unique and worth a playthrough.,0.2263
2,2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,NaN,"Posted April 21, 2011.",NaN,43110.0,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,0.9117
3,3,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted June 24, 2014.",NaN,251610.0,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,0.9566
4,4,js41637,http://steamcommunity.com/id/js41637,NaN,"Posted September 8, 2013.",NaN,227300.0,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,0.9708

In [116]:
#definimos como va a ser los parametros, en este nuestro caso 0.15 es el punto que nos va a decir si es positivo, neutral o negativo

def map_sentiment(value):
    if value < -0.15:
        return 0  # Negativo
    elif -0.15 <= value <= 0.15:
        return 1  # Neutral
    else:
        return 2  # Positivo

In [117]:
df_reviews['sentimiento'] = df_reviews['compound'].apply(map_sentiment)

In [118]:
df_reviews.drop(columns=['compound','review','Unnamed: 0','last_edited','funny',], inplace = True)

In [119]:
df_reviews.drop(columns=['helpful'], inplace = True)

In [120]:
#chequemaos por nulos, vemos que son muy pocos y no podemos de ninguna forma predecir si los valores faltantes van a ser positivos, negativos o neutros asi que los eliminamos

missing_values_table(df_reviews)

Your selected dataframe has 6 columns.
There are 3 columns that have missing values.

           Missing Values  % of Total Values
posted                 28                0.0
item_id                28                0.0
recommend              28                0.0

In [121]:
nan_in_col  = df_reviews[df_reviews['recommend'].isna()]

In [122]:
nan_in_col

,user_id,user_url,posted,item_id,recommend,sentimiento
137,gdxsd,http://steamcommunity.com/id/gdxsd,NaN,NaN,NaN,1
177,76561198094224872,http://steamcommunity.com/profiles/76561198094...,NaN,NaN,NaN,1
2559,76561198021575394,http://steamcommunity.com/profiles/76561198021...,NaN,NaN,NaN,1
10080,cmuir37,http://steamcommunity.com/id/cmuir37,NaN,NaN,NaN,1
13767,Jaysteeny,http://steamcommunity.com/id/Jaysteeny,NaN,NaN,NaN,1
15493,ML8989,http://steamcommunity.com/id/ML8989,NaN,NaN,NaN,1
19184,76561198079215291,http://steamcommunity.com/profiles/76561198079...,NaN,NaN,NaN,1
20223,76561198079342142,http://steamcommunity.com/profiles/76561198079...,NaN,NaN,NaN,1
25056,76561198061996985,http://steamcommunity.com/profiles/76561198061...,NaN,NaN,NaN,1
26257,76561198108286351,http://steamcommunity.com/profiles/76561198108...,NaN,NaN,NaN,1
26674,CallTripleZero,http://steamcommunity.com/id/CallTripleZero,NaN,NaN,NaN,1
28444,Priceless612,http://steamcommunity.com/id/Priceless612,NaN,NaN,NaN,1
28452,diabolical666,http://steamcommunity.com/id/diabolical666,NaN,NaN,NaN,1
28975,DrScottnik,http://steamcommunity.com/id/DrScottnik,NaN,NaN,NaN,1
31955,76561198110176420,http://steamcommunity.com/profiles/76561198110...,NaN,NaN,NaN,1
32819,jojoPL1987,http://steamcommunity.com/id/jojoPL1987,NaN,NaN,NaN,1
33785,Kylee_Kylie,http://steamcommunity.com/id/Kylee_Kylie,NaN,NaN,NaN,1
39279,_samie,http://steamcommunity.com/id/_samie,NaN,NaN,NaN,1
39357,FifthExclamation,http://steamcommunity.com/id/FifthExclamation,NaN,NaN,NaN,1
39420,sbenji,http://steamcommunity.com/id/sbenji,NaN,NaN,NaN,1
40661,SpatialWheel14,http://steamcommunity.com/id/SpatialWheel14,NaN,NaN,NaN,1
41777,76561198065238937,http://steamcommunity.com/profiles/76561198065...,NaN,NaN,NaN,1
44384,76561198071075080,http://steamcommunity.com/profiles/76561198071...,NaN,NaN,NaN,1
50718,76561198063489150,http://steamcommunity.com/profiles/76561198063...,NaN,NaN,NaN,1
53323,thecommunistbear,http://steamcommunity.com/id/thecommunistbear,NaN,NaN,NaN,1
55425,76561198085883839,http://steamcommunity.com/profiles/76561198085...,NaN,NaN,NaN,1
57578,76561198100396147,http://steamcommunity.com/profiles/76561198100...,NaN,NaN,NaN,1
57766,76561198102423654,http://steamcommunity.com/profiles/76561198102...,NaN,NaN,NaN,1

In [123]:
df_reviews = df_reviews.dropna()

In [124]:
#dataframe limpio y listo para usarse

missing_values_table(df_reviews)

Your selected dataframe has 6 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [125]:
df_reviews

,user_id,user_url,posted,item_id,recommend,sentimiento
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,True,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted July 15, 2011.",22200.0,True,2
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted April 21, 2011.",43110.0,True,2
3,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610.0,True,2
4,js41637,http://steamcommunity.com/id/js41637,"Posted September 8, 2013.",227300.0,True,2
...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 10.,70.0,True,2
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,Posted July 8.,362890.0,True,2
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 3.,273110.0,True,2
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 20.,730.0,True,2
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,Posted July 2.,440.0,True,2

In [126]:
#comenzamamos a normalizar la  columna "posted", que hace referencia a la fecha que pose posteo el comentario

list = pd.unique(df_reviews['posted'])

lista = sorted(list, reverse=True)

for i in lista:
    print(i)

Posted September 9.
Posted September 9, 2015.
Posted September 9, 2014.
Posted September 9, 2013.
Posted September 9, 2012.
Posted September 9, 2011.
Posted September 8.
Posted September 8, 2015.
Posted September 8, 2014.
Posted September 8, 2013.
Posted September 8, 2012.
Posted September 8, 2011.
Posted September 7.
Posted September 7, 2015.
Posted September 7, 2014.
Posted September 7, 2013.
Posted September 7, 2012.
Posted September 7, 2011.
Posted September 6.
Posted September 6, 2015.
Posted September 6, 2014.
Posted September 6, 2013.
Posted September 6, 2012.
Posted September 6, 2011.
Posted September 5.
Posted September 5, 2015.
Posted September 5, 2014.
Posted September 5, 2013.
Posted September 5, 2012.
Posted September 4.
Posted September 4, 2015.
Posted September 4, 2014.
Posted September 4, 2013.
Posted September 4, 2012.
Posted September 4, 2011.
Posted September 30, 2015.
Posted September 30, 2014.
Posted September 30, 2013.
Posted September 30, 2012.
Posted September 30, 2011.
Posted September 3.
Posted September 3, 2015.
Posted September 3, 2014.
Posted September 3, 2013.
Posted September 29, 2015.
Posted September 29, 2014.
Posted September 29, 2013.
Posted September 29, 2012.
Posted September 29, 2011.
Posted September 28, 2015.
Posted September 28, 2014.
Posted September 28, 2013.
Posted September 28, 2012.
Posted September 28, 2011.
Posted September 27, 2015.
Posted September 27, 2014.
Posted September 27, 2013.
Posted September 27, 2012.
Posted September 26, 2015.
Posted September 26, 2014.
Posted September 26, 2013.
Posted September 26, 2012.
Posted September 26, 2011.
Posted September 25, 2015.
Posted September 25, 2014.
Posted September 25, 2013.
Posted September 25, 2012.
Posted September 25, 2011.
Posted September 24, 2015.
Posted September 24, 2014.
Posted September 24, 2013.
Posted September 24, 2012.
Posted September 24, 2011.
Posted September 23, 2015.
Posted September 23, 2014.
Posted September 23, 2013.
Posted September 23, 2012.
Posted September 23, 2011.
Posted September 22, 2015.
Posted September 22, 2014.
Posted September 22, 2013.
Posted September 22, 2012.
Posted September 22, 2011.
Posted September 21, 2015.
Posted September 21, 2014.
Posted September 21, 2013.
Posted September 21, 2012.
Posted September 21, 2011.
Posted September 20, 2015.
Posted September 20, 2014.
Posted September 20, 2013.
Posted September 20, 2012.
Posted September 20, 2011.
Posted September 2.
Posted September 2, 2015.
Posted September 2, 2014.
Posted September 2, 2013.
Posted September 2, 2012.
Posted September 19, 2015.
Posted September 19, 2014.
Posted September 19, 2013.
Posted September 19, 2012.
Posted September 19, 2011.
Posted September 18.
Posted September 18, 2015.
Posted September 18, 2014.
Posted September 18, 2013.
Posted September 18, 2012.
Posted September 17.
Posted September 17, 2015.
Posted September 17, 2014.
Posted September 17, 2013.
Posted September 17, 2012.
Posted September 16.
Posted September 16, 2015.
Posted September 16, 2014.
Posted September 16, 2013.
Posted September 16, 2012.
Posted September 16, 2011.
Posted September 15.
Posted September 15, 2015.
Posted September 15, 2014.
Posted September 15, 2013.
Posted September 15, 2012.
Posted September 15, 2011.
Posted September 14.
Posted September 14, 2015.
Posted September 14, 2014.
Posted September 14, 2013.
Posted September 14, 2012.
Posted September 14, 2011.
Posted September 13.
Posted September 13, 2015.
Posted September 13, 2014.
Posted September 13, 2013.
Posted September 13, 2012.
Posted September 12.
Posted September 12, 2015.
Posted September 12, 2014.
Posted September 12, 2013.
Posted September 12, 2011.
Posted September 11.
Posted September 11, 2015.
Posted September 11, 2014.
Posted September 11, 2013.
Posted September 11, 2012.
Posted September 11, 2011.
Posted September 10.
Posted September 10, 2015.
Posted September 10, 2014.
Posted September 10, 2013.
Posted September 10, 2012.
Posted September 10, 2011.
Posted September 1.
Posted September 1, 2015.
Posted September 1, 2014.
Posted September 1, 2013.
Posted September 1, 2012.
Posted October 9, 2015.
Posted October 9, 2014.
Posted October 9, 2013.
Posted October 9, 2012.
Posted October 8, 2015.
Posted October 8, 2014.
Posted October 8, 2013.
Posted October 8, 2012.
Posted October 8, 2011.
Posted October 7, 2015.
Posted October 7, 2014.
Posted October 7, 2013.
Posted October 7, 2011.
Posted October 6, 2015.
Posted October 6, 2014.
Posted October 6, 2013.
Posted October 6, 2012.
Posted October 6, 2011.
Posted October 5, 2015.
Posted October 5, 2014.
Posted October 5, 2013.
Posted October 5, 2012.
Posted October 5, 2011.
Posted October 4, 2015.
Posted October 4, 2014.
Posted October 4, 2013.
Posted October 4, 2012.
Posted October 31, 2015.
Posted October 31, 2014.
Posted October 31, 2013.
Posted October 31, 2012.
Posted October 31, 2011.
Posted October 30, 2015.
Posted October 30, 2014.
Posted October 30, 2013.
Posted October 30, 2012.
Posted October 30, 2011.
Posted October 3, 2015.
Posted October 3, 2014.
Posted October 3, 2013.
Posted October 3, 2012.
Posted October 3, 2011.
Posted October 29, 2015.
Posted October 29, 2014.
Posted October 29, 2013.
Posted October 29, 2012.
Posted October 28, 2015.
Posted October 28, 2014.
Posted October 28, 2013.
Posted October 28, 2012.
Posted October 28, 2011.
Posted October 27, 2015.
Posted October 27, 2014.
Posted October 27, 2013.
Posted October 27, 2012.
Posted October 27, 2011.
Posted October 26, 2015.
Posted October 26, 2014.
Posted October 26, 2013.
Posted October 26, 2012.
Posted October 26, 2011.
Posted October 25, 2015.
Posted October 25, 2014.
Posted October 25, 2013.
Posted October 25, 2012.
Posted October 25, 2010.
Posted October 24, 2015.
Posted October 24, 2014.
Posted October 24, 2013.
Posted October 24, 2012.
Posted October 24, 2011.
Posted October 23, 2015.
Posted October 23, 2014.
Posted October 23, 2013.
Posted October 23, 2012.
Posted October 22, 2015.
Posted October 22, 2013.
Posted October 22, 2012.
Posted October 21, 2015.
Posted October 21, 2014.
Posted October 21, 2013.
Posted October 21, 2012.
Posted October 21, 2011.
Posted October 20, 2015.
Posted October 20, 2014.
Posted October 20, 2013.
Posted October 20, 2012.
Posted October 20, 2011.
Posted October 2, 2015.
Posted October 2, 2014.
Posted October 2, 2013.
Posted October 2, 2012.
Posted October 19, 2015.
Posted October 19, 2014.
Posted October 19, 2013.
Posted October 19, 2012.
Posted October 18, 2015.
Posted October 18, 2014.
Posted October 18, 2013.
Posted October 18, 2012.
Posted October 18, 2011.
Posted October 17, 2015.
Posted October 17, 2014.
Posted October 17, 2013.
Posted October 17, 2012.
Posted October 16, 2015.
Posted October 16, 2014.
Posted October 16, 2013.
Posted October 16, 2012.
Posted October 16, 2010.
Posted October 15, 2015.
Posted October 15, 2014.
Posted October 15, 2013.
Posted October 15, 2012.
Posted October 15, 2011.
Posted October 14, 2015.
Posted October 14, 2014.
Posted October 14, 2013.
Posted October 14, 2012.
Posted October 13, 2015.
Posted October 13, 2014.
Posted October 13, 2013.
Posted October 13, 2012.
Posted October 13, 2011.
Posted October 12, 2015.
Posted October 12, 2014.
Posted October 12, 2013.
Posted October 12, 2012.
Posted October 12, 2011.
Posted October 11, 2015.
Posted October 11, 2014.
Posted October 11, 2013.
Posted October 11, 2012.
Posted October 10, 2015.
Posted October 10, 2014.
Posted October 10, 2013.
Posted October 10, 2012.
Posted October 10, 2011.
Posted October 1, 2015.
Posted October 1, 2014.
Posted October 1, 2013.
Posted October 1, 2012.
Posted October 1, 2011.
Posted November 9, 2015.
Posted November 9, 2014.
Posted November 9, 2013.
Posted November 9, 2012.
Posted November 9, 2011.
Posted November 8, 2015.
Posted November 8, 2014.
Posted November 8, 2013.
Posted November 8, 2012.
Posted November 8, 2011.
Posted November 7, 2015.
Posted November 7, 2014.
Posted November 7, 2013.
Posted November 7, 2012.
Posted November 6, 2015.
Posted November 6, 2014.
Posted November 6, 2013.
Posted November 6, 2012.
Posted November 5, 2015.
Posted November 5, 2014.
Posted November 5, 2013.
Posted November 5, 2012.
Posted November 5, 2011.
Posted November 4, 2015.
Posted November 4, 2014.
Posted November 4, 2013.
Posted November 4, 2012.
Posted November 4, 2011.
Posted November 30, 2015.
Posted November 30, 2014.
Posted November 30, 2013.
Posted November 30, 2012.
Posted November 30, 2011.
Posted November 30, 2010.
Posted November 3, 2015.
Posted November 3, 2014.
Posted November 3, 2013.
Posted November 3, 2012.
Posted November 3, 2011.
Posted November 29, 2015.
Posted November 29, 2014.
Posted November 29, 2013.
Posted November 29, 2012.
Posted November 29, 2011.
Posted November 28, 2015.
Posted November 28, 2014.
Posted November 28, 2013.
Posted November 28, 2012.
Posted November 28, 2010.
Posted November 27, 2015.
Posted November 27, 2014.
Posted November 27, 2013.
Posted November 27, 2012.
Posted November 27, 2011.
Posted November 26, 2015.
Posted November 26, 2014.
Posted November 26, 2013.
Posted November 26, 2012.
Posted November 26, 2011.
Posted November 26, 2010.
Posted November 25, 2015.
Posted November 25, 2014.
Posted November 25, 2013.
Posted November 25, 2012.
Posted November 25, 2011.
Posted November 25, 2010.
Posted November 24, 2015.
Posted November 24, 2014.
Posted November 24, 2013.
Posted November 24, 2012.
Posted November 24, 2010.
Posted November 23, 2015.
Posted November 23, 2014.
Posted November 23, 2013.
Posted November 23, 2012.
Posted November 23, 2010.
Posted November 22, 2015.
Posted November 22, 2014.
Posted November 22, 2013.
Posted November 22, 2012.
Posted November 22, 2011.
Posted November 22, 2010.
Posted November 21, 2015.
Posted November 21, 2014.
Posted November 21, 2013.
Posted November 21, 2012.
Posted November 21, 2011.
Posted November 20, 2015.
Posted November 20, 2014.
Posted November 20, 2013.
Posted November 20, 2012.
Posted November 20, 2010.
Posted November 2, 2015.
Posted November 2, 2014.
Posted November 2, 2013.
Posted November 2, 2012.
Posted November 19, 2015.
Posted November 19, 2014.
Posted November 19, 2013.
Posted November 19, 2012.
Posted November 19, 2010.
Posted November 18, 2015.
Posted November 18, 2014.
Posted November 18, 2013.
Posted November 18, 2012.
Posted November 17, 2015.
Posted November 17, 2014.
Posted November 17, 2013.
Posted November 17, 2012.
Posted November 17, 2011.
Posted November 16, 2015.
Posted November 16, 2014.
Posted November 16, 2013.
Posted November 16, 2012.
Posted November 16, 2011.
Posted November 15, 2015.
Posted November 15, 2014.
Posted November 15, 2013.
Posted November 15, 2012.
Posted November 15, 2011.
Posted November 14, 2015.
Posted November 14, 2014.
Posted November 14, 2013.
Posted November 14, 2012.
Posted November 14, 2011.
Posted November 13, 2015.
Posted November 13, 2014.
Posted November 13, 2013.
Posted November 13, 2012.
Posted November 12, 2015.
Posted November 12, 2014.
Posted November 12, 2013.
Posted November 12, 2012.
Posted November 11, 2015.
Posted November 11, 2014.
Posted November 11, 2013.
Posted November 11, 2012.
Posted November 11, 2011.
Posted November 10, 2015.
Posted November 10, 2014.
Posted November 10, 2013.
Posted November 10, 2012.
Posted November 1, 2015.
Posted November 1, 2014.
Posted November 1, 2013.
Posted November 1, 2012.
Posted May 9.
Posted May 9, 2015.
Posted May 9, 2014.
Posted May 9, 2013.
Posted May 9, 2012.
Posted May 9, 2011.
Posted May 8.
Posted May 8, 2015.
Posted May 8, 2014.
Posted May 8, 2013.
Posted May 7.
Posted May 7, 2015.
Posted May 7, 2014.
Posted May 7, 2013.
Posted May 7, 2012.
Posted May 6.
Posted May 6, 2015.
Posted May 6, 2014.
Posted May 6, 2013.
Posted May 6, 2011.
Posted May 5.
Posted May 5, 2015.
Posted May 5, 2014.
Posted May 5, 2013.
Posted May 5, 2012.
Posted May 4.
Posted May 4, 2015.
Posted May 4, 2014.
Posted May 4, 2013.
Posted May 31.
Posted May 31, 2015.
Posted May 31, 2014.
Posted May 31, 2013.
Posted May 31, 2012.
Posted May 30.
Posted May 30, 2015.
Posted May 30, 2014.
Posted May 30, 2013.
Posted May 30, 2012.
Posted May 3.
Posted May 3, 2015.
Posted May 3, 2014.
Posted May 3, 2013.
Posted May 3, 2012.
Posted May 3, 2011.
Posted May 29.
Posted May 29, 2015.
Posted May 29, 2014.
Posted May 29, 2013.
Posted May 29, 2012.
Posted May 29, 2011.
Posted May 28.
Posted May 28, 2015.
Posted May 28, 2014.
Posted May 28, 2013.
Posted May 28, 2012.
Posted May 28, 2011.
Posted May 27.
Posted May 27, 2015.
Posted May 27, 2014.
Posted May 27, 2013.
Posted May 27, 2012.
Posted May 26.
Posted May 26, 2015.
Posted May 26, 2014.
Posted May 26, 2013.
Posted May 26, 2011.
Posted May 25.
Posted May 25, 2015.
Posted May 25, 2014.
Posted May 25, 2013.
Posted May 25, 2012.
Posted May 24.
Posted May 24, 2015.
Posted May 24, 2014.
Posted May 24, 2013.
Posted May 24, 2012.
Posted May 23.
Posted May 23, 2015.
Posted May 23, 2014.
Posted May 23, 2013.
Posted May 23, 2012.
Posted May 22.
Posted May 22, 2015.
Posted May 22, 2014.
Posted May 22, 2013.
Posted May 22, 2012.
Posted May 21.
Posted May 21, 2015.
Posted May 21, 2014.
Posted May 21, 2013.
Posted May 21, 2011.
Posted May 20.
Posted May 20, 2015.
Posted May 20, 2014.
Posted May 20, 2013.
Posted May 20, 2012.
Posted May 20, 2011.
Posted May 2.
Posted May 2, 2015.
Posted May 2, 2014.
Posted May 2, 2013.
Posted May 2, 2012.
Posted May 2, 2011.
Posted May 19.
Posted May 19, 2015.
Posted May 19, 2014.
Posted May 19, 2013.
Posted May 19, 2012.
Posted May 19, 2011.
Posted May 18.
Posted May 18, 2015.
Posted May 18, 2014.
Posted May 18, 2013.
Posted May 18, 2012.
Posted May 18, 2011.
Posted May 17.
Posted May 17, 2015.
Posted May 17, 2014.
Posted May 17, 2013.
Posted May 17, 2012.
Posted May 17, 2011.
Posted May 16.
Posted May 16, 2015.
Posted May 16, 2014.
Posted May 16, 2013.
Posted May 16, 2012.
Posted May 16, 2011.
Posted May 15.
Posted May 15, 2015.
Posted May 15, 2014.
Posted May 15, 2013.
Posted May 15, 2012.
Posted May 14.
Posted May 14, 2015.
Posted May 14, 2014.
Posted May 14, 2013.
Posted May 13.
Posted May 13, 2015.
Posted May 13, 2014.
Posted May 13, 2013.
Posted May 13, 2012.
Posted May 12.
Posted May 12, 2015.
Posted May 12, 2014.
Posted May 12, 2013.
Posted May 12, 2012.
Posted May 11.
Posted May 11, 2015.
Posted May 11, 2014.
Posted May 11, 2013.
Posted May 10.
Posted May 10, 2015.
Posted May 10, 2014.
Posted May 10, 2013.
Posted May 10, 2012.
Posted May 10, 2011.
Posted May 1.
Posted May 1, 2015.
Posted May 1, 2014.
Posted May 1, 2013.
Posted May 1, 2012.
Posted March 9.
Posted March 9, 2015.
Posted March 9, 2014.
Posted March 9, 2013.
Posted March 9, 2012.
Posted March 8.
Posted March 8, 2015.
Posted March 8, 2014.
Posted March 8, 2013.
Posted March 8, 2012.
Posted March 7.
Posted March 7, 2015.
Posted March 7, 2014.
Posted March 7, 2013.
Posted March 7, 2012.
Posted March 6.
Posted March 6, 2015.
Posted March 6, 2014.
Posted March 6, 2013.
Posted March 6, 2011.
Posted March 5.
Posted March 5, 2015.
Posted March 5, 2014.
Posted March 5, 2013.
Posted March 5, 2011.
Posted March 4.
Posted March 4, 2015.
Posted March 4, 2014.
Posted March 4, 2013.
Posted March 4, 2012.
Posted March 31.
Posted March 31, 2015.
Posted March 31, 2014.
Posted March 31, 2013.
Posted March 31, 2012.
Posted March 30.
Posted March 30, 2015.
Posted March 30, 2014.
Posted March 30, 2013.
Posted March 30, 2012.
Posted March 3.
Posted March 3, 2014.
Posted March 3, 2013.
Posted March 3, 2012.
Posted March 29.
Posted March 29, 2015.
Posted March 29, 2014.
Posted March 29, 2013.
Posted March 29, 2012.
Posted March 28.
Posted March 28, 2015.
Posted March 28, 2014.
Posted March 28, 2013.
Posted March 28, 2012.
Posted March 27.
Posted March 27, 2015.
Posted March 27, 2014.
Posted March 27, 2013.
Posted March 27, 2012.
Posted March 26.
Posted March 26, 2015.
Posted March 26, 2014.
Posted March 26, 2013.
Posted March 26, 2012.
Posted March 26, 2011.
Posted March 25.
Posted March 25, 2015.
Posted March 25, 2014.
Posted March 25, 2013.
Posted March 25, 2011.
Posted March 24.
Posted March 24, 2015.
Posted March 24, 2014.
Posted March 24, 2013.
Posted March 24, 2012.
Posted March 23.
Posted March 23, 2015.
Posted March 23, 2014.
Posted March 23, 2013.
Posted March 23, 2012.
Posted March 22.
Posted March 22, 2015.
Posted March 22, 2014.
Posted March 22, 2013.
Posted March 22, 2012.
Posted March 22, 2011.
Posted March 21.
Posted March 21, 2015.
Posted March 21, 2014.
Posted March 21, 2013.
Posted March 21, 2012.
Posted March 21, 2011.
Posted March 20.
Posted March 20, 2015.
Posted March 20, 2014.
Posted March 20, 2013.
Posted March 20, 2012.
Posted March 2.
Posted March 2, 2015.
Posted March 2, 2014.
Posted March 2, 2013.
Posted March 2, 2012.
Posted March 19.
Posted March 19, 2015.
Posted March 19, 2014.
Posted March 19, 2013.
Posted March 19, 2012.
Posted March 19, 2011.
Posted March 18.
Posted March 18, 2015.
Posted March 18, 2014.
Posted March 18, 2013.
Posted March 18, 2012.
Posted March 17.
Posted March 17, 2015.
Posted March 17, 2014.
Posted March 17, 2013.
Posted March 17, 2012.
Posted March 16.
Posted March 16, 2015.
Posted March 16, 2014.
Posted March 16, 2013.
Posted March 15.
Posted March 15, 2015.
Posted March 15, 2014.
Posted March 15, 2013.
Posted March 14.
Posted March 14, 2015.
Posted March 14, 2014.
Posted March 14, 2013.
Posted March 13.
Posted March 13, 2015.
Posted March 13, 2014.
Posted March 13, 2013.
Posted March 13, 2012.
Posted March 12.
Posted March 12, 2015.
Posted March 12, 2014.
Posted March 12, 2013.
Posted March 12, 2012.
Posted March 11.
Posted March 11, 2015.
Posted March 11, 2014.
Posted March 11, 2013.
Posted March 11, 2012.
Posted March 11, 2011.
Posted March 10.
Posted March 10, 2015.
Posted March 10, 2014.
Posted March 10, 2013.
Posted March 10, 2012.
Posted March 10, 2011.
Posted March 1.
Posted March 1, 2015.
Posted March 1, 2014.
Posted March 1, 2013.
Posted March 1, 2012.
Posted June 9.
Posted June 9, 2015.
Posted June 9, 2014.
Posted June 9, 2013.
Posted June 9, 2012.
Posted June 8.
Posted June 8, 2015.
Posted June 8, 2014.
Posted June 8, 2013.
Posted June 8, 2012.
Posted June 8, 2011.
Posted June 7.
Posted June 7, 2015.
Posted June 7, 2014.
Posted June 7, 2013.
Posted June 6.
Posted June 6, 2015.
Posted June 6, 2014.
Posted June 6, 2013.
Posted June 6, 2012.
Posted June 6, 2011.
Posted June 5.
Posted June 5, 2015.
Posted June 5, 2014.
Posted June 5, 2013.
Posted June 5, 2012.
Posted June 5, 2011.
Posted June 4.
Posted June 4, 2015.
Posted June 4, 2014.
Posted June 4, 2013.
Posted June 4, 2012.
Posted June 4, 2011.
Posted June 30.
Posted June 30, 2015.
Posted June 30, 2014.
Posted June 30, 2013.
Posted June 30, 2012.
Posted June 3.
Posted June 3, 2015.
Posted June 3, 2014.
Posted June 3, 2013.
Posted June 3, 2012.
Posted June 3, 2011.
Posted June 29.
Posted June 29, 2015.
Posted June 29, 2014.
Posted June 29, 2013.
Posted June 29, 2012.
Posted June 28.
Posted June 28, 2015.
Posted June 28, 2014.
Posted June 28, 2013.
Posted June 28, 2012.
Posted June 27.
Posted June 27, 2015.
Posted June 27, 2014.
Posted June 27, 2013.
Posted June 27, 2012.
Posted June 27, 2011.
Posted June 26.
Posted June 26, 2015.
Posted June 26, 2014.
Posted June 26, 2013.
Posted June 26, 2012.
Posted June 26, 2011.
Posted June 25.
Posted June 25, 2015.
Posted June 25, 2014.
Posted June 25, 2013.
Posted June 24.
Posted June 24, 2015.
Posted June 24, 2014.
Posted June 24, 2013.
Posted June 24, 2011.
Posted June 23.
Posted June 23, 2015.
Posted June 23, 2014.
Posted June 23, 2013.
Posted June 23, 2012.
Posted June 22.
Posted June 22, 2015.
Posted June 22, 2014.
Posted June 22, 2013.
Posted June 22, 2012.
Posted June 22, 2011.
Posted June 21.
Posted June 21, 2015.
Posted June 21, 2014.
Posted June 21, 2013.
Posted June 21, 2012.
Posted June 20.
Posted June 20, 2015.
Posted June 20, 2014.
Posted June 20, 2013.
Posted June 20, 2012.
Posted June 20, 2011.
Posted June 2.
Posted June 2, 2015.
Posted June 2, 2014.

In [128]:
#creamos funcion para cambiar el tipo de dato a fecha

def convert_to_date(date_str):
    if isinstance(date_str, str):
        try:
            return datetime.strptime(date_str, "Posted %B %d, %Y.")
        except ValueError:
            return np.nan
    else:
        return np.nan

In [129]:
df_reviews["posted"] = df_reviews["posted"].apply(convert_to_date)

In [130]:
list = pd.unique(df_reviews['posted'])

lista = sorted(list, reverse=True)

for i in lista:
    print(i)

NaT
2015-12-31T00:00:00.000000000
2015-12-30T00:00:00.000000000
2015-12-29T00:00:00.000000000
2015-12-28T00:00:00.000000000
2015-12-27T00:00:00.000000000
2015-12-26T00:00:00.000000000
2015-12-25T00:00:00.000000000
2015-12-24T00:00:00.000000000
2015-12-23T00:00:00.000000000
2015-12-22T00:00:00.000000000
2015-12-21T00:00:00.000000000
2015-12-20T00:00:00.000000000
2015-12-19T00:00:00.000000000
2015-12-18T00:00:00.000000000
2015-12-17T00:00:00.000000000
2015-12-16T00:00:00.000000000
2015-12-15T00:00:00.000000000
2015-12-14T00:00:00.000000000
2015-12-13T00:00:00.000000000
2015-12-12T00:00:00.000000000
2015-12-11T00:00:00.000000000
2015-12-10T00:00:00.000000000
2015-12-09T00:00:00.000000000
2015-12-08T00:00:00.000000000
2015-12-07T00:00:00.000000000
2015-12-06T00:00:00.000000000
2015-12-05T00:00:00.000000000
2015-12-04T00:00:00.000000000
2015-12-03T00:00:00.000000000
2015-12-02T00:00:00.000000000
2015-12-01T00:00:00.000000000
2015-11-30T00:00:00.000000000
2015-11-29T00:00:00.000000000
2015-11-28T00:00:00.000000000
2015-11-27T00:00:00.000000000
2015-11-26T00:00:00.000000000
2015-11-25T00:00:00.000000000
2015-11-24T00:00:00.000000000
2015-11-23T00:00:00.000000000
2015-11-22T00:00:00.000000000
2015-11-21T00:00:00.000000000
2015-11-20T00:00:00.000000000
2015-11-19T00:00:00.000000000
2015-11-18T00:00:00.000000000
2015-11-17T00:00:00.000000000
2015-11-16T00:00:00.000000000
2015-11-15T00:00:00.000000000
2015-11-14T00:00:00.000000000
2015-11-13T00:00:00.000000000
2015-11-12T00:00:00.000000000
2015-11-11T00:00:00.000000000
2015-11-10T00:00:00.000000000
2015-11-09T00:00:00.000000000
2015-11-08T00:00:00.000000000
2015-11-07T00:00:00.000000000
2015-11-06T00:00:00.000000000
2015-11-05T00:00:00.000000000
2015-11-04T00:00:00.000000000
2015-11-03T00:00:00.000000000
2015-11-02T00:00:00.000000000
2015-11-01T00:00:00.000000000
2015-10-31T00:00:00.000000000
2015-10-30T00:00:00.000000000
2015-10-29T00:00:00.000000000
2015-10-28T00:00:00.000000000
2015-10-27T00:00:00.000000000
2015-10-26T00:00:00.000000000
2015-10-25T00:00:00.000000000
2015-10-24T00:00:00.000000000
2015-10-23T00:00:00.000000000
2015-10-22T00:00:00.000000000
2015-10-21T00:00:00.000000000
2015-10-20T00:00:00.000000000
2015-10-19T00:00:00.000000000
2015-10-18T00:00:00.000000000
2015-10-17T00:00:00.000000000
2015-10-16T00:00:00.000000000
2015-10-15T00:00:00.000000000
2015-10-14T00:00:00.000000000
2015-10-13T00:00:00.000000000
2015-10-12T00:00:00.000000000
2015-10-11T00:00:00.000000000
2015-10-10T00:00:00.000000000
2015-10-09T00:00:00.000000000
2015-10-08T00:00:00.000000000
2015-10-07T00:00:00.000000000
2015-10-06T00:00:00.000000000
2015-10-05T00:00:00.000000000
2015-10-04T00:00:00.000000000
2015-10-03T00:00:00.000000000
2015-10-02T00:00:00.000000000
2015-10-01T00:00:00.000000000
2015-09-30T00:00:00.000000000
2015-09-29T00:00:00.000000000
2015-09-28T00:00:00.000000000
2015-09-27T00:00:00.000000000
2015-09-26T00:00:00.000000000
2015-09-25T00:00:00.000000000
2015-09-24T00:00:00.000000000
2015-09-23T00:00:00.000000000
2015-09-22T00:00:00.000000000
2015-09-21T00:00:00.000000000
2015-09-20T00:00:00.000000000
2015-09-19T00:00:00.000000000
2015-09-18T00:00:00.000000000
2015-09-17T00:00:00.000000000
2015-09-16T00:00:00.000000000
2015-09-15T00:00:00.000000000
2015-09-14T00:00:00.000000000
2015-09-13T00:00:00.000000000
2015-09-12T00:00:00.000000000
2015-09-11T00:00:00.000000000
2015-09-10T00:00:00.000000000
2015-09-09T00:00:00.000000000
2015-09-08T00:00:00.000000000
2015-09-07T00:00:00.000000000
2015-09-06T00:00:00.000000000
2015-09-05T00:00:00.000000000
2015-09-04T00:00:00.000000000
2015-09-03T00:00:00.000000000
2015-09-02T00:00:00.000000000
2015-09-01T00:00:00.000000000
2015-08-31T00:00:00.000000000
2015-08-30T00:00:00.000000000
2015-08-29T00:00:00.000000000
2015-08-28T00:00:00.000000000
2015-08-27T00:00:00.000000000
2015-08-26T00:00:00.000000000
2015-08-25T00:00:00.000000000
2015-08-24T00:00:00.000000000
2015-08-23T00:00:00.000000000
2015-08-22T00:00:00.000000000
2015-08-21T00:00:00.000000000
2015-08-20T00:00:00.000000000
2015-08-19T00:00:00.000000000
2015-08-18T00:00:00.000000000
2015-08-17T00:00:00.000000000
2015-08-16T00:00:00.000000000
2015-08-15T00:00:00.000000000
2015-08-14T00:00:00.000000000
2015-08-13T00:00:00.000000000
2015-08-12T00:00:00.000000000
2015-08-11T00:00:00.000000000
2015-08-10T00:00:00.000000000
2015-08-09T00:00:00.000000000
2015-08-08T00:00:00.000000000
2015-08-07T00:00:00.000000000
2015-08-06T00:00:00.000000000
2015-08-05T00:00:00.000000000
2015-08-04T00:00:00.000000000
2015-08-03T00:00:00.000000000
2015-08-02T00:00:00.000000000
2015-08-01T00:00:00.000000000
2015-07-31T00:00:00.000000000
2015-07-30T00:00:00.000000000
2015-07-29T00:00:00.000000000
2015-07-28T00:00:00.000000000
2015-07-27T00:00:00.000000000
2015-07-26T00:00:00.000000000
2015-07-25T00:00:00.000000000
2015-07-24T00:00:00.000000000
2015-07-23T00:00:00.000000000
2015-07-22T00:00:00.000000000
2015-07-21T00:00:00.000000000
2015-07-20T00:00:00.000000000
2015-07-19T00:00:00.000000000
2015-07-18T00:00:00.000000000
2015-07-17T00:00:00.000000000
2015-07-16T00:00:00.000000000
2015-07-15T00:00:00.000000000
2015-07-14T00:00:00.000000000
2015-07-13T00:00:00.000000000
2015-07-12T00:00:00.000000000
2015-07-11T00:00:00.000000000
2015-07-10T00:00:00.000000000
2015-07-09T00:00:00.000000000
2015-07-08T00:00:00.000000000
2015-07-07T00:00:00.000000000
2015-07-06T00:00:00.000000000
2015-07-05T00:00:00.000000000
2015-07-04T00:00:00.000000000
2015-07-03T00:00:00.000000000
2015-07-02T00:00:00.000000000
2015-07-01T00:00:00.000000000
2015-06-30T00:00:00.000000000
2015-06-29T00:00:00.000000000
2015-06-28T00:00:00.000000000
2015-06-27T00:00:00.000000000
2015-06-26T00:00:00.000000000
2015-06-25T00:00:00.000000000
2015-06-24T00:00:00.000000000
2015-06-23T00:00:00.000000000
2015-06-22T00:00:00.000000000
2015-06-21T00:00:00.000000000
2015-06-20T00:00:00.000000000
2015-06-19T00:00:00.000000000
2015-06-18T00:00:00.000000000
2015-06-17T00:00:00.000000000
2015-06-16T00:00:00.000000000
2015-06-15T00:00:00.000000000
2015-06-14T00:00:00.000000000
2015-06-13T00:00:00.000000000
2015-06-12T00:00:00.000000000
2015-06-11T00:00:00.000000000
2015-06-10T00:00:00.000000000
2015-06-09T00:00:00.000000000
2015-06-08T00:00:00.000000000
2015-06-07T00:00:00.000000000
2015-06-06T00:00:00.000000000
2015-06-05T00:00:00.000000000
2015-06-04T00:00:00.000000000
2015-06-03T00:00:00.000000000
2015-06-02T00:00:00.000000000
2015-06-01T00:00:00.000000000
2015-05-31T00:00:00.000000000
2015-05-30T00:00:00.000000000
2015-05-29T00:00:00.000000000
2015-05-28T00:00:00.000000000
2015-05-27T00:00:00.000000000
2015-05-26T00:00:00.000000000
2015-05-25T00:00:00.000000000
2015-05-24T00:00:00.000000000
2015-05-23T00:00:00.000000000
2015-05-22T00:00:00.000000000
2015-05-21T00:00:00.000000000
2015-05-20T00:00:00.000000000
2015-05-19T00:00:00.000000000
2015-05-18T00:00:00.000000000
2015-05-17T00:00:00.000000000
2015-05-16T00:00:00.000000000
2015-05-15T00:00:00.000000000
2015-05-14T00:00:00.000000000
2015-05-13T00:00:00.000000000
2015-05-12T00:00:00.000000000
2015-05-11T00:00:00.000000000
2015-05-10T00:00:00.000000000
2015-05-09T00:00:00.000000000
2015-05-08T00:00:00.000000000
2015-05-07T00:00:00.000000000
2015-05-06T00:00:00.000000000
2015-05-05T00:00:00.000000000
2015-05-04T00:00:00.000000000
2015-05-03T00:00:00.000000000
2015-05-02T00:00:00.000000000
2015-05-01T00:00:00.000000000
2015-04-30T00:00:00.000000000
2015-04-29T00:00:00.000000000
2015-04-28T00:00:00.000000000
2015-04-27T00:00:00.000000000
2015-04-26T00:00:00.000000000
2015-04-25T00:00:00.000000000
2015-04-24T00:00:00.000000000
2015-04-23T00:00:00.000000000
2015-04-22T00:00:00.000000000
2015-04-21T00:00:00.000000000
2015-04-20T00:00:00.000000000
2015-04-19T00:00:00.000000000
2015-04-18T00:00:00.000000000
2015-04-17T00:00:00.000000000
2015-04-16T00:00:00.000000000
2015-04-15T00:00:00.000000000
2015-04-14T00:00:00.000000000
2015-04-13T00:00:00.000000000
2015-04-12T00:00:00.000000000
2015-04-11T00:00:00.000000000
2015-04-10T00:00:00.000000000
2015-04-09T00:00:00.000000000
2015-04-08T00:00:00.000000000
2015-04-07T00:00:00.000000000
2015-04-06T00:00:00.000000000
2015-04-05T00:00:00.000000000
2015-04-04T00:00:00.000000000
2015-04-03T00:00:00.000000000
2015-04-02T00:00:00.000000000
2015-04-01T00:00:00.000000000
2015-03-31T00:00:00.000000000
2015-03-30T00:00:00.000000000
2015-03-29T00:00:00.000000000
2015-03-28T00:00:00.000000000
2015-03-27T00:00:00.000000000
2015-03-26T00:00:00.000000000
2015-03-25T00:00:00.000000000
2015-03-24T00:00:00.000000000
2015-03-23T00:00:00.000000000
2015-03-22T00:00:00.000000000
2015-03-21T00:00:00.000000000
2015-03-20T00:00:00.000000000
2015-03-19T00:00:00.000000000
2015-03-18T00:00:00.000000000
2015-03-17T00:00:00.000000000
2015-03-16T00:00:00.000000000
2015-03-15T00:00:00.000000000
2015-03-14T00:00:00.000000000
2015-03-13T00:00:00.000000000
2015-03-12T00:00:00.000000000
2015-03-11T00:00:00.000000000
2015-03-10T00:00:00.000000000
2015-03-09T00:00:00.000000000
2015-03-08T00:00:00.000000000
2015-03-07T00:00:00.000000000
2015-03-06T00:00:00.000000000
2015-03-05T00:00:00.000000000
2015-03-04T00:00:00.000000000
2015-03-02T00:00:00.000000000
2015-03-01T00:00:00.000000000
2015-02-28T00:00:00.000000000
2015-02-27T00:00:00.000000000
2015-02-26T00:00:00.000000000
2015-02-25T00:00:00.000000000
2015-02-24T00:00:00.000000000
2015-02-23T00:00:00.000000000
2015-02-22T00:00:00.000000000
2015-02-21T00:00:00.000000000
2015-02-20T00:00:00.000000000
2015-02-19T00:00:00.000000000
2015-02-18T00:00:00.000000000
2015-02-17T00:00:00.000000000
2015-02-16T00:00:00.000000000
2015-02-15T00:00:00.000000000
2015-02-14T00:00:00.000000000
2015-02-13T00:00:00.000000000
2015-02-12T00:00:00.000000000
2015-02-11T00:00:00.000000000
2015-02-10T00:00:00.000000000
2015-02-09T00:00:00.000000000
2015-02-08T00:00:00.000000000
2015-02-07T00:00:00.000000000
2015-02-06T00:00:00.000000000
2015-02-05T00:00:00.000000000
2015-02-04T00:00:00.000000000
2015-02-03T00:00:00.000000000
2015-02-02T00:00:00.000000000
2015-02-01T00:00:00.000000000
2015-01-31T00:00:00.000000000
2015-01-30T00:00:00.000000000
2015-01-29T00:00:00.000000000
2015-01-28T00:00:00.000000000
2015-01-27T00:00:00.000000000
2015-01-26T00:00:00.000000000
2015-01-25T00:00:00.000000000
2015-01-24T00:00:00.000000000
2015-01-23T00:00:00.000000000
2015-01-22T00:00:00.000000000
2015-01-21T00:00:00.000000000
2015-01-20T00:00:00.000000000
2015-01-19T00:00:00.000000000
2015-01-18T00:00:00.000000000
2015-01-17T00:00:00.000000000
2015-01-16T00:00:00.000000000
2015-01-15T00:00:00.000000000
2015-01-14T00:00:00.000000000
2015-01-13T00:00:00.000000000
2015-01-12T00:00:00.000000000
2015-01-11T00:00:00.000000000
2015-01-10T00:00:00.000000000
2015-01-09T00:00:00.000000000
2015-01-08T00:00:00.000000000
2015-01-07T00:00:00.000000000
2015-01-06T00:00:00.000000000
2015-01-05T00:00:00.000000000
2015-01-04T00:00:00.000000000
2015-01-03T00:00:00.000000000
2015-01-02T00:00:00.000000000
2015-01-01T00:00:00.000000000
2014-12-31T00:00:00.000000000
2014-12-30T00:00:00.000000000
2014-12-29T00:00:00.000000000
2014-12-28T00:00:00.000000000
2014-12-27T00:00:00.000000000
2014-12-26T00:00:00.000000000
2014-12-25T00:00:00.000000000
2014-12-24T00:00:00.000000000
2014-12-23T00:00:00.000000000
2014-12-22T00:00:00.000000000
2014-12-21T00:00:00.000000000
2014-12-20T00:00:00.000000000
2014-12-19T00:00:00.000000000
2014-12-18T00:00:00.000000000
2014-12-17T00:00:00.000000000
2014-12-16T00:00:00.000000000
2014-12-15T00:00:00.000000000
2014-12-14T00:00:00.000000000
2014-12-13T00:00:00.000000000
2014-12-12T00:00:00.000000000
2014-12-11T00:00:00.000000000
2014-12-10T00:00:00.000000000
2014-12-09T00:00:00.000000000
2014-12-08T00:00:00.000000000
2014-12-07T00:00:00.000000000
2014-12-06T00:00:00.000000000
2014-12-05T00:00:00.000000000
2014-12-04T00:00:00.000000000
2014-12-03T00:00:00.000000000
2014-12-02T00:00:00.000000000
2014-12-01T00:00:00.000000000
2014-11-30T00:00:00.000000000
2014-11-29T00:00:00.000000000
2014-11-28T00:00:00.000000000
2014-11-27T00:00:00.000000000
2014-11-26T00:00:00.000000000
2014-11-25T00:00:00.000000000
2014-11-24T00:00:00.000000000
2014-11-23T00:00:00.000000000
2014-11-22T00:00:00.000000000
2014-11-21T00:00:00.000000000
2014-11-20T00:00:00.000000000
2014-11-19T00:00:00.000000000
2014-11-18T00:00:00.000000000
2014-11-17T00:00:00.000000000
2014-11-16T00:00:00.000000000
2014-11-15T00:00:00.000000000
2014-11-14T00:00:00.000000000
2014-11-13T00:00:00.000000000
2014-11-12T00:00:00.000000000
2014-11-11T00:00:00.000000000
2014-11-10T00:00:00.000000000
2014-11-09T00:00:00.000000000
2014-11-08T00:00:00.000000000
2014-11-07T00:00:00.000000000
2014-11-06T00:00:00.000000000
2014-11-05T00:00:00.000000000
2014-11-04T00:00:00.000000000
2014-11-03T00:00:00.000000000
2014-11-02T00:00:00.000000000
2014-11-01T00:00:00.000000000
2014-10-31T00:00:00.000000000
2014-10-30T00:00:00.000000000
2014-10-29T00:00:00.000000000
2014-10-28T00:00:00.000000000
2014-10-27T00:00:00.000000000
2014-10-26T00:00:00.000000000
2014-10-25T00:00:00.000000000
2014-10-24T00:00:00.000000000
2014-10-23T00:00:00.000000000
2014-10-21T00:00:00.000000000
2014-10-20T00:00:00.000000000
2014-10-19T00:00:00.000000000
2014-10-18T00:00:00.000000000
2014-10-17T00:00:00.000000000
2014-10-16T00:00:00.000000000
2014-10-15T00:00:00.000000000
2014-10-14T00:00:00.000000000
2014-10-13T00:00:00.000000000
2014-10-12T00:00:00.000000000
2014-10-11T00:00:00.000000000
2014-10-10T00:00:00.000000000
2014-10-09T00:00:00.000000000
2014-10-08T00:00:00.000000000
2014-10-07T00:00:00.000000000
2014-10-06T00:00:00.000000000
2014-10-05T00:00:00.000000000
2014-10-04T00:00:00.000000000
2014-10-03T00:00:00.000000000
2014-10-02T00:00:00.000000000
2014-10-01T00:00:00.000000000
2014-09-30T00:00:00.000000000
2014-09-29T00:00:00.000000000
2014-09-28T00:00:00.000000000
2014-09-27T00:00:00.000000000
2014-09-26T00:00:00.000000000
2014-09-25T00:00:00.000000000
2014-09-24T00:00:00.000000000
2014-09-23T00:00:00.000000000
2014-09-22T00:00:00.000000000
2014-09-21T00:00:00.000000000
2014-09-20T00:00:00.000000000
2014-09-19T00:00:00.000000000
2014-09-18T00:00:00.000000000
2014-09-17T00:00:00.000000000
2014-09-16T00:00:00.000000000
2014-09-15T00:00:00.000000000
2014-09-14T00:00:00.000000000
2014-09-13T00:00:00.000000000
2014-09-12T00:00:00.000000000
2014-09-11T00:00:00.000000000
2014-09-10T00:00:00.000000000
2014-09-09T00:00:00.000000000
2014-09-08T00:00:00.000000000
2014-09-07T00:00:00.000000000
2014-09-06T00:00:00.000000000
2014-09-05T00:00:00.000000000
2014-09-04T00:00:00.000000000
2014-09-03T00:00:00.000000000
2014-09-02T00:00:00.000000000
2014-09-01T00:00:00.000000000
2014-08-31T00:00:00.000000000
2014-08-30T00:00:00.000000000
2014-08-29T00:00:00.000000000
2014-08-28T00:00:00.000000000
2014-08-27T00:00:00.000000000
2014-08-26T00:00:00.000000000
2014-08-25T00:00:00.000000000
2014-08-24T00:00:00.000000000
2014-08-23T00:00:00.000000000
2014-08-22T00:00:00.000000000
2014-08-21T00:00:00.000000000
2014-08-20T00:00:00.000000000
2014-08-19T00:00:00.000000000
2014-08-18T00:00:00.000000000
2014-08-17T00:00:00.000000000
2014-08-16T00:00:00.000000000
2014-08-15T00:00:00.000000000
2014-08-14T00:00:00.000000000
2014-08-13T00:00:00.000000000
2014-08-12T00:00:00.000000000
2014-08-11T00:00:00.000000000
2014-08-10T00:00:00.000000000
2014-08-09T00:00:00.000000000
2014-08-08T00:00:00.000000000
2014-08-07T00:00:00.000000000
2014-08-06T00:00:00.000000000
2014-08-05T00:00:00.000000000
2014-08-04T00:00:00.000000000
2014-08-03T00:00:00.000000000
2014-08-02T00:00:00.000000000
2014-08-01T00:00:00.000000000
2014-07-31T00:00:00.000000000
2014-07-30T00:00:00.000000000
2014-07-29T00:00:00.000000000
2014-07-28T00:00:00.000000000
2014-07-27T00:00:00.000000000
2014-07-26T00:00:00.000000000
2014-07-25T00:00:00.000000000
2014-07-24T00:00:00.000000000
2014-07-23T00:00:00.000000000
2014-07-22T00:00:00.000000000
2014-07-21T00:00:00.000000000
2014-07-20T00:00:00.000000000
2014-07-19T00:00:00.000000000
2014-07-18T00:00:00.000000000
2014-07-17T00:00:00.000000000
2014-07-16T00:00:00.000000000
2014-07-15T00:00:00.000000000
2014-07-14T00:00:00.000000000
2014-07-13T00:00:00.000000000
2014-07-12T00:00:00.000000000
2014-07-11T00:00:00.000000000
2014-07-10T00:00:00.000000000
2014-07-09T00:00:00.000000000
2014-07-08T00:00:00.000000000
2014-07-07T00:00:00.000000000
2014-07-06T00:00:00.000000000
2014-07-05T00:00:00.000000000
2014-07-04T00:00:00.000000000
2014-07-03T00:00:00.000000000
2014-07-02T00:00:00.000000000
2014-07-01T00:00:00.000000000
2014-06-30T00:00:00.000000000
2014-06-29T00:00:00.000000000
2014-06-28T00:00:00.000000000
2014-06-27T00:00:00.000000000
2014-06-26T00:00:00.000000000
2014-06-25T00:00:00.000000000
2014-06-24T00:00:00.000000000
2014-06-23T00:00:00.000000000
2014-06-22T00:00:00.000000000
2014-06-21T00:00:00.000000000
2014-06-20T00:00:00.000000000
2014-06-19T00:00:00.000000000
2014-06-18T00:00:00.000000000
2014-06-17T00:00:00.000000000
2014-06-16T00:00:00.000000000
2014-06-15T00:00:00.000000000
2014-06-14T00:00:00.000000000
2014-06-13T00:00:00.000000000
2014-06-12T00:00:00.000000000
2014-06-11T00:00:00.000000000
2014-06-10T00:00:00.000000000
2014-06-09T00:00:00.000000000
2014-06-08T00:00:00.000000000
2014-06-07T00:00:00.000000000
2014-06-06T00:00:00.000000000
2014-06-05T00:00:00.000000000
2014-06-04T00:00:00.000000000
2014-06-03T00:00:00.000000000
2014-06-02T00:00:00.000000000
2014-06-01T00:00:00.000000000
2014-05-31T00:00:00.000000000
2014-05-30T00:00:00.000000000
2014-05-29T00:00:00.000000000
2014-05-28T00:00:00.000000000
2014-05-27T00:00:00.000000000
2014-05-26T00:00:00.000000000
2014-05-25T00:00:00.000000000
2014-05-24T00:00:00.000000000
2014-05-23T00:00:00.000000000
2014-05-22T00:00:00.000000000
2014-05-21T00:00:00.000000000
2014-05-20T00:00:00.000000000
2014-05-19T00:00:00.000000000
2014-05-18T00:00:00.000000000
2014-05-17T00:00:00.000000000
2014-05-16T00:00:00.000000000
2014-05-15T00:00:00.000000000
2014-05-14T00:00:00.000000000
2014-05-13T00:00:00.000000000
2014-05-12T00:00:00.000000000
2014-05-11T00:00:00.000000000
2014-05-10T00:00:00.000000000
2014-05-09T00:00:00.000000000
2014-05-08T00:00:00.000000000
2014-05-07T00:00:00.000000000
2014-05-06T00:00:00.000000000
2014-05-05T00:00:00.000000000
2014-05-04T00:00:00.000000000
2014-05-03T00:00:00.000000000
2014-05-02T00:00:00.000000000
2014-05-01T00:00:00.000000000
2014-04-30T00:00:00.000000000
2014-04-29T00:00:00.000000000
2014-04-28T00:00:00.000000000
2014-04-27T00:00:00.000000000
2014-04-26T00:00:00.000000000
2014-04-25T00:00:00.000000000
2014-04-24T00:00:00.000000000
2014-04-23T00:00:00.000000000
2014-04-22T00:00:00.000000000
2014-04-21T00:00:00.000000000
2014-04-20T00:00:00.000000000
2014-04-19T00:00:00.000000000
2014-04-18T00:00:00.000000000
2014-04-17T00:00:00.000000000
2014-04-16T00:00:00.000000000
2014-04-15T00:00:00.000000000
2014-04-14T00:00:00.000000000
2014-04-13T00:00:00.000000000
2014-04-12T00:00:00.000000000
2014-04-11T00:00:00.000000000
2014-04-10T00:00:00.000000000
2014-04-09T00:00:00.000000000
2014-04-08T00:00:00.000000000
2014-04-07T00:00:00.000000000
2014-04-06T00:00:00.000000000
2014-04-05T00:00:00.000000000
2014-04-04T00:00:00.000000000
2014-04-03T00:00:00.000000000
2014-04-02T00:00:00.000000000
2014-04-01T00:00:00.000000000
2014-03-31T00:00:00.000000000
2014-03-30T00:00:00.000000000
2014-03-29T00:00:00.000000000
2014-03-28T00:00:00.000000000
2014-03-27T00:00:00.000000000
2014-03-26T00:00:00.000000000
2014-03-25T00:00:00.000000000
2014-03-24T00:00:00.000000000
2014-03-23T00:00:00.000000000
2014-03-22T00:00:00.000000000
2014-03-21T00:00:00.000000000
2014-03-20T00:00:00.000000000
2014-03-19T00:00:00.000000000
2014-03-18T00:00:00.000000000
2014-03-17T00:00:00.000000000
2014-03-16T00:00:00.000000000
2014-03-15T00:00:00.000000000
2014-03-14T00:00:00.000000000
2014-03-13T00:00:00.000000000
2014-03-12T00:00:00.000000000
2014-03-11T00:00:00.000000000
2014-03-10T00:00:00.000000000
2014-03-09T00:00:00.000000000
2014-03-08T00:00:00.000000000
2014-03-07T00:00:00.000000000
2014-03-06T00:00:00.000000000
2014-03-05T00:00:00.000000000
2014-03-04T00:00:00.000000000

In [131]:
df_reviews['posted'] =  df_reviews["posted"].dt.date

In [132]:
df_reviews

,user_id,user_url,posted,item_id,recommend,sentimiento
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-11-05,1250.0,True,2
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-07-15,22200.0,True,2
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-04-21,43110.0,True,2
3,js41637,http://steamcommunity.com/id/js41637,2014-06-24,251610.0,True,2
4,js41637,http://steamcommunity.com/id/js41637,2013-09-08,227300.0,True,2
...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,70.0,True,2
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,NaN,362890.0,True,2
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,273110.0,True,2
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,730.0,True,2
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,NaN,440.0,True,2

In [133]:
#dataframe limpio y listo para usarse

df_reviews.to_csv('df_reviews_clean.csv', index=False)

### user_items

In [134]:
import pandas as pd

def missing_values_table(df):
    mis_val = df.isna().sum()
    mis_val_percent = 100 * df.isna().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

df_items = pd.read_csv('data\df_items.csv')

In [135]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   user_id           object
 2   items_count       int64
 3   steam_id          int64
 4   user_url          object
 5   item_id           float64
 6   item_name         object
 7   playtime_forever  float64
 8   playtime_2weeks   float64
dtypes: float64(3), int64(3), object(3)
memory usage: 355.0+ MB

In [136]:
#vemos que coincide el item_counts con la cantidad de registros

df_items.head(280)

,Unnamed: 0,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6.0,0.0
1,1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0.0,0.0
2,2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7.0,0.0
3,3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0.0,0.0
4,4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
275,275,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,379720.0,DOOM,793.0,0.0
276,276,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,273350.0,Evolve Stage 2,58.0,0.0
277,277,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,10.0,Counter-Strike,0.0,0.0
278,278,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,80.0,Counter-Strike: Condition Zero,0.0,0.0
279,279,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,100.0,Counter-Strike: Condition Zero Deleted Scenes,0.0,0.0

In [137]:
#son menos del 0.3$ de los datos los faltantes, son extremadamente pocos y lo mas probable es que no nos interfiera en nuestro analisis

missing_values_table(df_items)

Your selected dataframe has 9 columns.
There are 4 columns that have missing values.

                  Missing Values  % of Total Values
item_id                    16806                0.3
item_name                  16806                0.3
playtime_forever           16806                0.3
playtime_2weeks            16806                0.3

In [138]:
nan_in_col  = df_items[df_items['item_id'].isna()]

In [139]:
#como vemos, no tenemos referencia de item alguna.
#PD: contador de "Unnamed: 0" = 3

nan_in_col

,Unnamed: 0,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
3733,3733,Wackky,0,76561198039117046,http://steamcommunity.com/id/Wackky,NaN,NaN,NaN,NaN
3849,3849,76561198079601835,0,76561198079601835,http://steamcommunity.com/profiles/76561198079...,NaN,NaN,NaN,NaN
6019,6019,hellom8o,0,76561198117222320,http://steamcommunity.com/id/hellom8o,NaN,NaN,NaN,NaN
6523,6523,starkillershadow553,0,76561198059648579,http://steamcommunity.com/id/starkillershadow553,NaN,NaN,NaN,NaN
7237,7237,darkenkane,0,76561198058876001,http://steamcommunity.com/id/darkenkane,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5169470,5169470,76561198316380182,0,76561198316380182,http://steamcommunity.com/profiles/76561198316...,NaN,NaN,NaN,NaN
5169471,5169471,76561198316970597,0,76561198316970597,http://steamcommunity.com/profiles/76561198316...,NaN,NaN,NaN,NaN
5169472,5169472,76561198318100691,0,76561198318100691,http://steamcommunity.com/profiles/76561198318...,NaN,NaN,NaN,NaN
5170006,5170006,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,NaN,NaN,NaN,NaN
5170014,5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN

In [140]:
df_items = df_items.dropna()

In [141]:
df_items

,Unnamed: 0,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10.0,Counter-Strike,6.0,0.0
1,1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20.0,Team Fortress Classic,0.0,0.0
2,2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30.0,Day of Defeat,7.0,0.0
3,3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40.0,Deathmatch Classic,0.0,0.0
4,4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50.0,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5170009,5170009,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330.0,BrainBread 2,0.0,0.0
5170010,5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330.0,All Is Dust,0.0,0.0
5170011,5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490.0,One Way To Die: Steam Edition,3.0,3.0
5170012,5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570.0,You Have 10 Seconds 2,4.0,4.0
5170013,5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140.0,Minds Eyes,3.0,3.0

In [142]:
#dataframe limpio y listo.
missing_values_table(df_items)

Your selected dataframe has 9 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [143]:
df_items.to_csv('df_items_clean.csv', index=False)